# Variables that docker then sets as environment variables.

GUNICORN_WORKERS=3
RQ_WORKERS=1
LOG_LEVEL=debug
SECRET_KEY=not-so-secret
SECURITY_PASSWORD_SALT=my_precious_two
SEND_FILE_MAX_AGE_DEFAULT=31556926 # In production, set to a high number, like 31556926
PYTHONUNBUFFERED=1 # Force the stdout and stderr streams to be unbuffered. 

#database
MYSQLHOST=
DATABASE=
MYSQLUSER=
MYSQLPASSWORD=
DATABASE_URL=

#mail
MAIL_SERVER=smtp.example.com
MAIL_PORT=25
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=smtp-username
MAIL_PASSWORD=mypassword
ADMINS=your-email@example.com

XCONTEST_USER=xcuser
XCONTEST_PASS=xcpassword

TELEGRAM_API=123456789
TELEGRAM_CHANNEL=987654321

# it is unlikely that any of the below settings need to be changed unless you are using another web server etc.
#docker containers
REDIS_CONTAINER = redis
WEB_SERVER_CONTAINER = nginx
FLASK_CONTAINER = airscore_prod
FLASK_PORT = 5000
RQ_QUEUE = airscore-jobs

#app
FLASK_APP=autoapp.py
PYTHONPATH=${app:-src}