*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env/

# npm
/node_modules/

# webpack-built files
/airscore/static/build/

# Configuration
.env

# Development database
*.db


defines.php
.ht*
.travis*
.DS*
_pycache_/*
_pycache_
*.pyc
*.igc
map.html
*.pyc
.idea/*
airscore/data/tracks/*
airscore/data/results/*
airscore/log/*.txt
airscore/log/*.log
airscore/data/map-objects/*
airscore/admin/.DS*
airscore/admin/dreamhost*.*
airscore/admin/host.it*
airscore/core/*.yaml
airscore/core/defines.yaml*
airscore/core/Defines.pm
airscore/core/test*
airscore/core/py*
airscore/.ht*
airscore/core/*.igc
airscore/core/*.kml
airscore/core/*.zip
airscore/core/*.xctsk
airscore/core/.DS*
airscore/core/log/*.txt
airscore/core/log/*.log
