cgi-bin/*.yaml
admin/dreamhost*.*
admin/host.it*
cgi-bin/defines.yaml*
cgi-bin/Defines.pm
cgi-bin/py*
cgi-bin/.ht*
defines.php
.ht*
.travis*
.DS*
admin/.DS*
cgi-bin/.DS*
tracks/*
_pycache_/*
_pycache_
*.pyc
*.igc
.idea/
map.html
*.pyc
