defines.php
.ht*
.travis*
.DS*
_pycache_/*
_pycache_
*.pyc
*.igc
map.html
*.pyc
.idea/*
tracks/*
json/*
log/*.txt
log/*.log
map-objects/*
admin/.DS*
admin/dreamhost*.*
admin/host.it*
cgi-bin/*.yaml
cgi-bin/defines.yaml*
cgi-bin/Defines.pm
cgi-bin/test*
cgi-bin/py*
cgi-bin/.ht*
cgi-bin/*.igc
cgi-bin/*.kml
cgi-bin/*.zip
cgi-bin/*.xctsk
cgi-bin/.DS*
cgi-bin/log/*.txt
cgi-bin/log/*.log
cgi-bin/log/*.txt
cgi-bin/log/*.log
