aerofiles==1.0.0
asn1crypto==0.24.0
branca==0.3.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cryptography==2.6.1
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.1
folium==0.10.0
geographiclib==1.50
geojson==2.5.0
geopy==1.20.0
idna==2.8
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.3
jsonpickle==1.2
keyring==17.1.1
keyrings.alt==3.1.1
lxml==4.4.0
MarkupSafe==1.1.1
numpy==1.17.2
openpyxl==3.0.0
pathlib2==2.3.4
pycrypto==2.6.1
PyGObject==3.30.4
PyMySQL==0.9.3
pyproj==2.4.0
pyxdg==0.25
PyYAML==5.1.1
requests==2.22.0
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
urllib3==1.25.3
Werkzeug==0.16.0
