{% extends "base.html"%}

{% block page_title %}
AirScore Ladders
{% endblock %}

{% block head %}
<!-- CSS -->
<link href="{{ static_url_for('static', filename='css/task.css') }}" rel='stylesheet'>
<!-- JS -->
<script type='text/javascript' src='/static/js/utils.js'></script>
<script type='text/javascript' src='/static/js/microajax.minified.js'></script>
{% endblock %}

{% block header %} Ladders: {% endblock %}

{% block content %}
<div class='container' id='main'>
  <div class='row'>
    <div class='col col-md-3 comp_header mt-1'>
      <select name='season' id='season' class='form-control' placeholder='Seasons'>
      </select>
    </div>
  </div>
  {% from "macros.html" import datatable with context %}
  {{ datatable('competitions') }}
</div>
{% endblock %}

{% block js %}
<script src="{{ static_url_for('static', filename='js/pop_ladders.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/season_filter.js') }}"></script>
<script type='text/javascript'>
  var selected = {{ now.year|tojson }};
</script>
{% endblock %}
