{% extends "base.html"%}

{% block page_title %}
Live Task Leaderboard
{% endblock %}

{% block head %}
<!-- CSS -->
<link href='/static/css/task.css' rel='stylesheet'>
<!-- JS -->
<script type='text/javascript' src='/static/js/utils.js'></script>
<script type='text/javascript' src='/static/js/microajax.minified.js'></script>
{% endblock %}

{% block back %}
<a id="comp_link" href='/competition/{{ compid }}'>Back to Competition</a>
{% endblock %}

{% block content %}
<div class='container-fluid'>
  <div class='row mt-1 mb-2'>
    <div class='col comp_header' id='comp_header'>
      <h2 id='live_header'>Live Leaderboard:</h2>
      <h2 id='comp_name'></h2>
      <h3 id='task_date'></h3>
    </div>
    <div class='col task_waypoints'>
      <table class='table table-sm' id='waypoints'>
        <thead class='thead-light' id='wpts_hd'>
        <tr>
          <th style='width:10%'>Point</th>
          <th style='width:12%'>Type</th>
          <th style='width:15%; text-align:right;'>Size</th>
          <th style='width:18%; text-align:right;'>Dist</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody class='small' id='wpts_bd'></tbody>
      </table>
    </div>
  </div>
  <div class='row mb-3'>
    <div class='col w-100'>
      {% from "macros.html" import datatable with context %}
      {{ datatable('results_table') }}
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script type='text/javascript' src='/static/js/pop_live.js'></script>
<script type='text/javascript'>populate_live({{taskid|tojson}})</script>
{% endblock %}