{% extends "base.html"%}

{% block page_title %}
Tracklog Map
{% endblock %}

{% block head %}
{% endblock %}

{% block css %}
{{map.header|safe}}
<link rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect@0.6.0/dist/css/BsMultiSelect.min.css'>
{% endblock %}

{% block back %}
{% if back_link is sameas true %}
<a href='/task_result/{{task.id}}'>Back to results</a>
{% endif %}
{% endblock %}

{% block header %}Track Map: {{task.name}} {{pilot.name}}{% endblock %}

{% block content %}
{% if not full_tracklog %}
<div id='full_tracklog'>
  <button class='btn btn-primary' style='margin-right: 0; margin-left:auto; display:block;' id='full_tracklog_button'
          onclick="post('/map/{{pilot.id}}-{{task.id}}', {'full': 1})">Full Tracklog Map
  </button>
</div>
{% endif %}

<div id='map' style='position: relative; width: 100%; height: 600px; margin: auto; border: none;'>
  {{map.html|safe}}
</div>

<form action='/' method='post'>
  <div class='container'>
    <div class='form-group row'>
      <label class='col-form-label col-sm-2' id='edit-states1-id'>Add Tracks</label>
      <div class='col-sm-10'>
        <select name='tracks' id='select-tracks-id' class='form-control test' multiple='multiple'
                style='display: none;'>
          {%for t in other_tracks%}
          <option value='{{t[0]}}'>{{t[1]}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button type='button' class='btn btn-primary' id='submit-tracks'>Get Tracks</button>
  </div>

</form>

<div class='container'>
  <table class='table table-striped row-border table-hover table-responsive' id='wpt_achieved_table'>
    <thead class="thead-light">
    <tr>
      <th scope='col'>Waypoint</th>
      <th scope='col'>Alt</th>
      <th scope='col'> -</th>
      <th scope='col'>Time of day</th>
      <th scope='col'>Straight line dist<br> from previous (km)</th>
      <th scope='col'>Time from previous</th>
      <th scope='col'>Speed from previous (kph)</th>
    </tr>
    </thead>
    <tbody id='wpt_achieved_table_body'>
    {%for w in wpt_achieved %}
    <tr>
      <td>{{w[3]}}</td>
      <td>{{w[2]}}</td>
      <td> -</td>
      <td>{{w[5]}}</td>
      <td>{{w[7]}}</td>
      <td>{{w[8]}}</td>
      <td>{{w[9]}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block js %}
<script type='text/javascript'
        src='https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect@0.6.0/dist/js/BsMultiSelect.min.js'></script>
<script src='https://d3js.org/d3.v3.min.js' charset='utf-8'></script>

<script>
var $multiSelects = $("select[multiple='multiple']");
function install(){
                $multiSelects.bsMultiSelect();
}
install();

</script>

<script>
  tracks=[]
  $(document).ready(function() {
    $("#submit-tracks").click(function(){
        tracks = $('#select-tracks-id').val();
        if(tracks.length > 0){
          fetch('/_map/9999/' + tracks).then(function(response) {
                          response.text().then(function(data) {

                         map.innerHTML = data;
                       })

                   });
        }
        else {
    $(location).attr('href','/map/9999');

        }
    });
});

</script>

<script>
    {{map.script|safe}}

</script>

<script>
function post(path, params) {
  var csrftoken = $('meta[name=csrf-token]').attr('content');
  document.getElementById("full_tracklog_button").innerHTML="Loading...";
  const form = document.createElement('form');
  form.method = 'post';
  form.action = path;

  const hiddenField = document.createElement('input');
  hiddenField.type = 'hidden';
  hiddenField.name = 'csrf_token';
  hiddenField.value = csrftoken;
  form.appendChild(hiddenField);

  for (const key in params) {
    if (params.hasOwnProperty(key)) {
      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = key;
      hiddenField.value = params[key];
      form.appendChild(hiddenField);
    }
  }

  document.body.appendChild(form);
  form.submit();
}

</script>

{% endblock %}
