{% extends "base.html"%}

{% block page_title %}
Registered Pilots
{% endblock %}

{% block head %}
<!-- CSS -->
<link href='/static/css/task.css' rel='stylesheet'>
<!-- JS -->
<script type='text/javascript' src='/static/js/utils.js'></script>
<script type='text/javascript' src='/static/js/microajax.minified.js'></script>
{% endblock %}

{% block content %}
<div class='container'>
  <div class='row col-md-12'>
    <h1>{{comp['comp_name']}} - <small>{{comp['comp_site']}}</small></h1>

  </div>
  <div class='row'>
    <div class='col-md-6'><h5>{{comp['date_from']}} - {{comp['date_to']}}</h5></div>
  </div>
</div>

{% if comp.self_register %}
<p id='reg_text'>To register you need to login</p>
<button id='reg_btn' type='button' data-toggle='modal' data-target='#edit_par_modal' class='btn btn-success'>Register
</button>
<button id='unreg_btn' type='button' class='btn btn-danger'>Unregister</button>
<button id='modify_btn' type='button' data-toggle='modal' data-target='#edit_par_modal' class='btn btn-primary'>Modify
  your details
</button>

{% endif %}

{% if comp.website %}

Official website:<a href='http://{{comp.website}}' target='_blank'>http://{{comp.website}}</a>

{% endif %}

<div class='container-fluid'>

  <div class='row mb-3'>
    <div class='col w-100'>
      {% from "macros.html" import datatable with context %}
      {{ datatable('pilots', compact=True) }}
    </div>
  </div>
</div>

<!---edit-participant details modal starts here--->
<div id='edit_par_modal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Update Your Details</h4>
      </div>
      <div class='modal-body' id='modmodal-body'>
        <h5 id='mod_name'></h5>
        <div class='form-row'>
          <div class='form-group width12'>
            {{modify_participant_form.id_num.label}} {{modify_participant_form.id_num(size=2,
            **{'id':"mod_id_number",})}}
            {{modify_participant_form.nat.label}} {{modify_participant_form.nat(**{'id':"mod_nat"})}}
          </div>
        </div>
        <div class='form-row'>
          <div class='form-group col-md-12 display-if' data-target_name='mod_type' data-target_type='select'
               data-target_value='goal'>
            {{modify_participant_form.glider.label}} {{modify_participant_form.glider(**{'id':"mod_glider"})}}
            {{modify_participant_form.certification.label}} {{modify_participant_form.certification(size=4,
            **{'id':"mod_certification"})}}
          </div>
          <div class='form-group col-md-12 display-if' data-target_name='check_launch' data-target_type='checkbox'
               data-target_value='true'>
            <div class='form-group col-md-6 display-if' data-target_name='mod_type' data-target_type='select'
                 data-target_value='launch'>
              {{modify_participant_form.sponsor.label}} {{modify_participant_form.sponsor(size=30,
              **{'id':"mod_sponsor"})}}
            </div>
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
        <button id='modify_confirmed' type='button' class='btn btn-success' data-dismiss='modal'>Save</button>
      </div>
    </div>
  </div>
</div>
<!-edit-participant details-Modal ends here--->

{% endblock %}

{% block js %}
<script type='text/javascript' src='/static/js/pop_registered_pilots.js'></script>

<script type='text/javascript'>
jQuery(document).ready(function($) {
{% if comp.self_register %}
  $("#reg_btn").hide();
  $("#unreg_btn").hide();
  $("#modify_btn").hide();
  $("#reg_text").hide();
{% endif %}
  populate_pilots({{compid}});
});

{% if comp.self_register %}
var un_registered_pil=[];
function unregister(pil_id) {
  un_registered_pil.push(parseInt(pil_id,10));
  send_unregister();
  $("#unreg_btn").hide();
  $("#modify_btn").hide();
}

function send_unregister() {
   var mydata = new Object();
     mydata.unregister = un_registered_pil;
     mydata.register = [];

   $.ajax({
     type: "POST",
     url: "{{ url_for('user._register_pilots', compid=compid)}}",
     contentType:"application/json",
     data : JSON.stringify(mydata),
     dataType: "json",
     success: function () {
        populate_pilots({{compid}});
        un_registered_pil.length = 0
     }
   });
}

function save_modified_participant(par_id) {
   var mydata = new Object();
   mydata.id_num = $('#mod_id_number').val();
   mydata.nat = $('#mod_nat').val();
   mydata.glider = $('#mod_glider').val();
   mydata.certification = $('#mod_certification').val();
   mydata.sponsor = $('#mod_sponsor').val();

   $.ajax({
     type: "POST",
     url: "/users/_modify_participant_details/"+par_id,
     contentType:"application/json",
     data : JSON.stringify(mydata),
     dataType: "json",
     success: function () {
       populate_pilots({{compid}});
     }
   });

};

function register(pil_id) {
  var mydata = new Object();
  mydata.id_num = $('#mod_id_number').val();
  mydata.nat = $('#mod_nat').val();
  mydata.glider = $('#mod_glider').val();
  mydata.certification = $('#mod_certification').val();
  mydata.sponsor = $('#mod_sponsor').val();
  mydata.pil_id = pil_id;

  $.ajax({
    type: "POST",
    url: "/users/_self_register/"+{{compid}},
    contentType:"application/json",
    data : JSON.stringify(mydata),
    dataType: "json",
    success: function () {
      $("#reg_btn").hide();
      populate_pilots({{compid}});
    }
  });
};
{% endif %}
</script>
{% endblock %}


