{% extends "base.html"%}

{% block page_title %}
Flying Areas
{% endblock %}

{% block head %}
<!-- CSS -->
<link href="{{ static_url_for('static', filename='css/task.css') }}" rel='stylesheet'>
<link href='https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css' rel='stylesheet'>
<!-- JS -->
<script type='text/javascript' src='/static/js/utils.js'></script>
<script type='text/javascript' src='/static/js/microajax.minified.js'></script>
{% endblock %}

{% block header %} Flying Areas: {% endblock %}

{% block content %}
<div class='container' id='main'>
  <div class='row'>
  </div>

  <table id='regions' class='row-border stripe compact mb-1' cellspacing='0' width='100%'>
  </table>
</div>
{% endblock %}

{% block js %}
<script type='text/javascript' src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>
<script src="{{ static_url_for('static', filename='js/pop_regions.js') }}"></script>
<script type='text/javascript'>
  var regions = JSON.parse('{{ regions|tojson }}');
</script>
{% endblock %}
