{% extends "base.html"%}

{% block page_title %}
Flying Area Map
{% endblock %}

{% block head %}
{% endblock %}

{% block css %}
{{map.header|safe}}
<link href='https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect@0.6.0/dist/css/BsMultiSelect.min.css' rel='stylesheet'>
<link href='https://cdn.datatables.net/rowgroup/1.1.1/css/rowGroup.dataTables.min.css' rel='stylesheet'>

{% endblock %}

{% block back %}
{% if args and args.regids %}
<a href="{{ url_for('public.regions', **args) }}">Back to Comp Areas</a>
{% elif args and args.compid %}
<a href="{{ url_for('public.competition', compid=args.compid) }}">Back to Competition</a>
{% else %}
<a href="{{ url_for('public.regions') }}">Back to Regions</a>
{% endif %}
{% endblock %}

{% block header %}Flying Area Map: {{ name }} {% endblock %}

{% block content %}
<div class='container-fluid' id='counter'>
  <div class='col'>
    <h5 id='region_wpt_no'></h5>
  </div>
  {% if openair_file %}
  <div class='col'>
    <h5 id='spaces_no'></h5>
  </div>
  {% endif %}
</div>

<div class='container button' id='download_button'>
  <a class='btn btn-primary' href="{{ url_for('public.download_file', filetype='waypoints', filename=waypoint_file) }}">
    Download Waypoints
  </a>
  {% if openair_file %}
  <a class='btn btn-primary ml-4' href="{{ url_for('public.download_file', filetype='airspace', filename=openair_file) }}">
    Download Openair
  </a>
  {% endif %}
</div>

<div id='map' style='position: relative; width: 100%; height: 600px; margin: auto; border: none;'>
  {{map.html|safe}}
</div>

<div class='container collapse-button' id='wpt_button'>
    <button class='btn btn-info' type='button' data-toggle='collapse' data-target='#wpt_list'
        aria-expanded='false' aria-controls='wpt_list'>
      Waypoints List
    </button>
</div>
<div class='container collapse' id='wpt_list'>
  {% from "macros.html" import datatable with context %}
  {{ datatable('waypoints') }}
</div>

{% if airspace %}
<div class='container collapse-button' id='airspace_button'>
    <button class='btn btn-info' type='button' data-toggle='collapse' data-target='#airspace_list'
        aria-expanded='false' aria-controls='airspace_list'>
      Restricted Zones
    </button>
</div>
<div class='container collapse' id='airspace_list'>
  {% from "macros.html" import datatable with context %}
  {{ datatable('airspace') }}
</div>
{% endif %}

{% endblock %}

{% block js %}
<script type='text/javascript' src='https://cdn.datatables.net/rowgroup/1.1.1/js/dataTables.rowGroup.min.js'></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect@0.6.0/dist/js/BsMultiSelect.min.js'></script>
<script type='text/javascript' src='https://d3js.org/d3.v3.min.js' charset='utf-8'></script>
<script src="{{ static_url_for('static', filename='js/pop_waypoints.js') }}"></script>
{% if airspace %}
<script src="{{ static_url_for('static', filename='js/pop_spaces.js') }}"></script>
{% endif %}
<script>
  $(document).ready(function() {
    update_waypoints(JSON.parse('{{ waypoints|tojson }}'));
    {% if airspace %}
    update_spaces(JSON.parse('{{ airspace|tojson }}'));
    {% endif %}
  });
</script>

<script>
  {{map.script|safe}}
</script>

<script>
function post(path, params) {
  var csrftoken = $('meta[name=csrf-token]').attr('content');
  document.getElementById("full_tracklog_button").innerHTML="Loading...";
  const form = document.createElement('form');
  form.method = 'post';
  form.action = path;

  const hiddenField = document.createElement('input');
  hiddenField.type = 'hidden';
  hiddenField.name = 'csrf_token';
  hiddenField.value = csrftoken;
  form.appendChild(hiddenField);

  for (const key in params) {
    if (params.hasOwnProperty(key)) {
      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = key;
      hiddenField.value = params[key];
      form.appendChild(hiddenField);
    }
  }

  document.body.appendChild(form);
  form.submit();
}

</script>

{% endblock %}
