{% extends "base.html" %}

{% block content %}
    <h1>Reset Your Password</h1>
    <form action="" method="post">
        {{ reset_form.hidden_tag() }}
        <p>
            {{ reset_form.password.label }}<br>
            {{ reset_form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ reset_form.password2.label }}<br>
            {{ reset_form.password2(size=32) }}<br>
            {% for error in reset_form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ reset_form.submit() }}</p>
    </form>
{% endblock %}
