{% extends "base.html"%}

{% block page_title %}
Task Result - Team
{% endblock %}

{% block head %}
<!-- CSS -->
<link href='/static/css/task.css' rel='stylesheet'>
<!-- JS -->
<script type='text/javascript' src='/static/js/utils.js'></script>
<script type='text/javascript' src='/static/js/microajax.minified.js'></script>
{% endblock %}

{% block content %}
<div class='container-fluid'>
  <div class='row'>
    <div class='col col-md-7 comp_header mt-1'>
      <h2 id='comp_name'></h2>
      <h2 id='task_name'></h2>
      <h4 id='task_date'></h4>
    </div>
    <div class='col col-md-5' class='parameters'>
      <table class='table table-sm' id='formula'>
        <thead class='thead-light' id='formula_hd'>
        <tr>
          <th>Information</th>
          <th></th>
        </tr>
        </thead>
        <tbody class='small' id='formula_bd'></tbody>
      </table>
    </div>
  </div>
  {% from "macros.html" import datatable with context %}
  {{ datatable('task_result') }}
</div>
{% endblock %}

{% block js %}
<script type='text/javascript' src='https://cdn.datatables.net/rowgroup/1.1.1/js/dataTables.rowGroup.min.js'></script>
<script type='text/javascript' src='/static/js/enums.js'></script>
<script type='text/javascript' src='/static/js/pop_team_task.js'></script>
<script type='text/javascript'>populate_team_task({{taskid|tojson}})</script>
{% endblock %}