<script src='https://code.jquery.com/jquery-3.5.1.min.js'
        integrity='sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2'
        crossorigin='anonymous'></script>

<script type='text/javascript' src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

<script src="{{ static_url_for('static', filename='js/bootnavbar.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/flashed_message.js') }}"></script>

<script>
  var csrftoken = $('meta[name=csrf-token]').attr('content');
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    }
  });

  //control the resizing of menu and go down the content in the correct position

  $("#navMenu").resize(function () {
    $('#godown').height($("#navMenu").height() + 10);
  });

  if ($("#navMenu").height() > $('#godown').height()) $('#godown').height($("#navMenu").height() + 10);
</script>
<script>
  $(function () {
    $('#main_navbar').bootnavbar({
      //option
      //animation: false
    });
  })
</script>
<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>