
{% macro render_field(field, width=None, tooltip=false, id=None, disabled=false, autocomplete=None, class=None) %}
{% set args = dict() %}
{% if width %}
{%  set _ = args.update({'size': width}) %}
{% endif %}
{% if tooltip %}
{%  set _ = args.update({'data-toggle': 'tooltip'}) %}
{%  set _ = args.update({'title': field.description}) %}
{% endif %}
{% if id %}
{%  set _ = args.update({'id': id}) %}
{% endif %}
{% if disabled %}
{%  set _ = args.update({'readonly': disabled}) %}
{% endif %}
{% if autocomplete %}
{%  set _ = args.update({'autocomplete': autocomplete}) %}
{% endif %}
{% if class %}
{%  set _ = args.update({'class': class}) %}
{% else %}
{%  set _ = args.update({'class': 'form-control form-control-sm'}) %}
{% endif %}
<div class="form-element">
  <div class="form-label">{{ field.label }}:</div>
  <div class="form-input">
    {{ field(**args)|safe }}
    {% if field.errors %}
      <ul class=errors>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endmacro %}


{% macro render_disabled(field) %}
<div class="form-element">
  <div class="form-label">{{ field.label }}:</div>
  <div class="form-input">
    {{ field(readonly=true) }}
  </div>
</div>
{% endmacro %}


{% macro render_info(info_id, label, value, class=None) %}
{% if class %}
  {% set css = class %}
{% else %}
  {% set css = 'form-info' %}
{% endif %}
<div class="form-element">
  <div class="form-label"><label for="{{ info_id }}">{{ label }}</label>:</div>
  <div class="form-input"><span class="" id="{{ info_id }}" >{{ value }}</span></div>
</div>
{% endmacro %}


{% macro render_input(id, label, size, value=None, class=None, placeholder=None) %}
<div class="form-element">
  <div class="form-label"><label for="{{ id }}">{{ label }}:</label></div>
  <div class="form-input"><input type="text" class="form-control form-control-sm {% if class %} {{ class }} {% endif %}" id="{{ id }}" name="{{ id }}" size="{{ size }}" placeholder="{{ placeholder }}"></div>
</div>
{% endmacro %}

{% macro render_checkbox(id, label, checked=false, value=None, class=None) %}
<div class="form-element">
  <div class="form-label"><label for="{{ id }}">{{ label }}:</label></div>
  <div class="form-input"><input type="checkbox" {% if checked %} checked {% endif %} class="form-control form-control-sm {% if class %} {{ class }} {% endif %}" id="{{ id }}" name="{{ id }}"></div>
</div>
{% endmacro %}