<nav class='navbar navbar-expand-lg navbar-dark bg-dark fixed-top admin' id='bootnavbar' role='navigation'>
  <a class='navbar-brand' href="{{ url_for('user.comp_admin') }}">
    FAI Airscore - Administration
  </a>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent'
          aria-controls='navbarSupportedContent'
          aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>
  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav my-auto'>
      <li class='nav-item'>
        <a class='nav-link' href="{{ url_for('public.home') }}">Public Website
        </a>
      </li>
    </ul>
    {% if current_user and current_user.is_authenticated and current_user.has_private_frontend_access %}
    <ul class='navbar-nav my-auto'>
      <li class='nav-item'>
        <a class='nav-link main' href="{{ url_for('user.comp_admin') }}">Competitions</a>
      </li>
      {% if config.WAYPOINT_AIRSPACE_FILE_LIBRARY %}
      <li class='nav-item'>
        <a class='nav-link main' href="{{ url_for('user.region_admin') }}">Flying Areas</a>
      </li>
      {% endif %}
      {% if current_user.is_admin or current_user.is_manager %}
      <li class='nav-item'>
        <a class="nav-link main" href="{{ url_for('user.user_admin') }}">Users</a>
      </li>
      {% endif %}
    </ul>

    {% if session.comp_name %}
    <ul class='navbar-nav text-primary mr-auto'>
      <li class='nav-item dropdown'>
        <a class='nav-link dropdown-toggle' href='#' id='compDropdown' role='button' data-toggle='dropdown'
           aria-haspopup='true' aria-expanded='false'>
          {{session.comp_name }}
        </a>
        <ul class='dropdown-menu' aria-labelledby='compDropdown'>
          <li>
            <a class='dropdown-item' href="{{ url_for('user.comp_settings_admin', compid=session.compid) }}">Competition Settings</a>
          </li>
          <li>
            <a class='dropdown-item' href="{{ url_for('user.pilot_admin', compid=session.compid) }}">Registered Pilots</a>
          </li>
          <li>
            <a class='dropdown-item' href="{{ url_for('user.region_admin') }}">Flying Areas</a>
          </li>
          {% if session.is_editor %}
          <li>
            <a class='dropdown-item' href="{{ url_for('user.comp_score_admin', compid=session.compid) }}">Event Results</a>
          </li>
          {% endif %}
          {% for task in session.tasks %}
          <li class='nav-item dropdown'>
            <a class='dropdown-item dropdown-toggle' href='#' id='compDropdown{{task.task_num}}' role='button'
               data-toggle='dropdown'
               aria-haspopup='true' aria-expanded='false'>
              {{task.num}}
            </a>
            <ul class='dropdown-menu' aria-labelledby='compDropdown{{task.task_num}}'>
              <li><a class='dropdown-item' href="{{ url_for('user.task_admin', taskid=task.task_id) }}">Settings</a>
              </li>
              {% if session.is_editor and not session.external %}
              <li><a class='dropdown-item' href="{{ url_for('user.track_admin', taskid=task.task_id) }}">Tracks</a></li>
              {% endif %}
              {% if session.is_editor and (task.ready_to_score or task.locked) %}
              <li><a class='dropdown-item' href="{{ url_for('user.task_score_admin', taskid=task.task_id) }}">Scores</a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    {% endif %}
    {% endif %}

    <ul class='navbar-nav ml-auto'>
      <li class='nav-item'>
        <span class='navbar-text pre-wrap'>Logged in as </span>
      </li>
      <li class='nav-item'>
        <span class='navbar-text'>{{ current_user.access|capitalize }}: </span>
      </li>
      <li class='nav-item active'>
        <a class='nav-link' href="{{ url_for('user.members') }}">{% if current_user.first_name %} {{ current_user.first_name }} {% else %} {{ current_user.username }} {% endif %}</a>
      </li>
      <li class='nav-item active'>
        <a class='nav-link' href="{{ url_for('public.logout') }}">
          <i class='fa fa-sign-out'></i>
        </a>
      </li>
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>
<div class='godown-60' id='godown'></div>