{% extends "base_admin.html"%}

{% block page_title %}
Airspace Check Settings
{% endblock %}

{% block head %}
<script type="text/javascript" language="javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
        integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
        crossorigin="anonymous" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}

{% block back %}
{% if taskid %}
<a href="{{ url_for('user.task_admin', taskid=taskid)}}" class='btn btn-info'>
  Back to Task Settings
</a>
{% elif compid %}
<a href="{{ url_for('user.comp_settings_admin', compid=compid)}}" class='btn btn-info'>
  Back to Competition Settings
</a>
{% endif %}
{% endblock %}

{% block header %}
Airspace Check Settings
{% endblock %}

{% block content %}
<form method='post' id="airspace_check_form">
  {{ checkform.hidden_tag() }}

  <!-- Save Settings button -->
  <div class='tab-save row-wrap'>
    {% if checkform.submit %}
    {{checkform.submit(class="btn btn-outline-secondary", id="airspace_check_save_button")}}
    <h6 class="ml-4 mt-2 pr-1 pl-1" id="save_button_warning_text"></h6>
    {% else %}
    <b>You are not a scorekeeper of this comp</b>
    {% endif%}
  </div>

  <div class="tab-content">
    {% if checkform.submit %}
    {% from "macros.html" import render_field with context %}
    {% set readonly = session.external %}
    <div role="tabpanel" class="tab-pane column-wrap fade show active" id="details">
      <h4 class='tab-title font-weight-bold'>Penalty Formula Details:</h4>
      <section class="tab-row row-wrap form">
        <div class='alert alert-warning' role='alert'>
          <h4>Distances are in meters from Forbidden zones border.<br>Negative numbers are positions inside the zone.<br />
          Progressive (PWC Style) changes penalty factor along a curve, steeper reaching inner limit. </h4>
        </div>
      </section>
      <section class="tab-row row-wrap form">
          {{ render_field(checkform.notification_distance, size=5, disabled=readonly) }}
      </section>
      <section class="tab-row row-wrap form">
          {{ render_field(checkform.function, disabled=readonly) }}
        <div id="double_step_div">
          {{ render_field(checkform.double_step, disabled=readonly) }}
        </div>
      </section>
      <section class="row-wrap" id="h_limits">
        <section class="tab-row column-wrap form col-lg-6">
          <section class="row-wrap">
            {{ render_field(checkform.h_outer_limit, size=5, disabled=readonly) }}
          </section>
          <section class="row-wrap" id="h_boundary_section">
            {{ render_field(checkform.h_boundary, size=5, disabled=readonly) }}
            {{ render_field(checkform.h_boundary_penalty, disabled=readonly) }}
          </section>
          <section class="row-wrap">
            {{ render_field(checkform.h_inner_limit, size=5, disabled=readonly) }}
            <div id="h_max_penalty_div">
              {{ render_field(checkform.h_max_penalty, disabled=readonly) }}
            </div>
          </section>
        </section>
        <section class="m-3 p-1 col-lg-5" id="h-chart-section">
          <canvas id="h-chart"></canvas>
        </section>
      </section>
      <section class="tab-row row-wrap form">
          {{ render_field(checkform.h_v, disabled=readonly) }}
      </section>
      <section class="row-wrap" id="v_limits">
        <section class="tab-row column-wrap form col-lg-6">
          <section class="row-wrap">
            {{ render_field(checkform.v_outer_limit, size=5, disabled=readonly) }}
          </section>
          <section class="row-wrap" id="v_boundary_section">
            {{ render_field(checkform.v_boundary, size=5, disabled=readonly) }}
            {{ render_field(checkform.v_boundary_penalty, disabled=readonly) }}
          </section>
          <section class="row-wrap">
            {{ render_field(checkform.v_inner_limit, size=5, disabled=readonly) }}
            <div id="v_max_penalty_div">
              {{ render_field(checkform.v_max_penalty, disabled=readonly) }}
            </div>
          </section>
        </section>
        <section class="m-3 p-1 col-lg-5" id="v-chart-section">
          <canvas id="v-chart"></canvas>
          <p id="v-chart-caption"></p>
        </section>
      </section>
    </div>
    {% endif %}
  </div>
</form>

{% if checkform.submit and not readonly %}
<!--- delete-modal starts here--->
<div id='delmodal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Please confirm</h4>
      </div>
      <div class='modal-body' id='delmodal-body'>
        <p>Here the description starts here........</p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-success' data-dismiss='modal'>Cancel</button>
        <button id='delete_confirmed' type='button' class='btn btn-danger'>Delete</button>
        <p id='delete_spinner'></p>
      </div>
    </div>
  </div>
</div>
<!--- delete-Modal ends here --->
{% endif%}

{% endblock %}

{% block js %}
<script src="{{ static_url_for('static', filename='js/display-if.min.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.ui.widget.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.iframe-transport.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.fileupload.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/airspace_check_admin.js') }}"></script>
<script type='text/javascript'>
  var compid = {{ compid|tojson }};
  var external = {{ session.external|tojson }};
  var taskid = {{ taskid|tojson }};
  var task_admin = {{ checkform.submit|tojson }};
</script>
{% endblock %}