{% extends "layout.html"%}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
   integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
      integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
      crossorigin=""></script>


<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<!--<script src="/static/leaflet.elevation-0.0.4.js" crossorigin="anonymous"></script>-->
<link rel="stylesheet" href="/static/css/BsMultiSelect.css" crossorigin="anonymous">
<meta name="csrf-token" content="{{ csrf_token() }}">

<div class="container">
<h1>Airspace: {{file}}</h1>

        <h3>
          <a href="{{ url_for('public.download_file', filetype='airspace', filename=file)}}"> <button type="button" class="btn btn-primary" >Download</button></a>
        </h3>
</div>

<div id="map">
{{map|safe}}
</div>

<div  id ="message" class="jumbotron">
    <h3>Note:</h3>
    <p class="lead">Airscore uses meters above mean sea level in checking flights.
      All heights in feet will be converted automatically, however if the airspace contains AGL
      you may want to increase the altitude in the table below. You can adjust the floor and ceiling columns.
      Use the format "XXXX ft" or "XXXX m". You can also delete airspaces if not needed.
      Clicking save will create a new Openair file.
        THIS WILL REPLACE THE ORIGINAL FILE IN THE FLYING AREA (AND THEREFORE COMPETITIONS THAT USE THE FLYING AREA).
      The new file will be available to immediately download here and for pilots, from the competition page.</p>
  <b/><h2 class = "text-danger"><b>{{message}}</b></h2>
    <h6 class = "text-danger">{{FL_message}}</h6>
</div>

<div class="container">
  <table class="table table-striped " id="airspace_table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Class</th>
        <th scope="col">Floor</th>
        <th scope="col">Ceiling</th>
        <th scope="col">Floor (checking) (m a.s.l.)</th>
        <th scope="col">Ceiling (checking) (m a.s.l.)</th>
      </tr>
    </thead>
    <tbody id=airspace_table_body>

      {%for a in airspace_list %}
        <tr>
          <td data-editable="false" class ="value">{{a['name']}}</td>
          <td data-editable="false" class ="value">{{a['class']}}</td>
          {% if a['floor unit'] == 'FL' or a['floor unit'] == "Unknown height unit"  %}
            <td class="text-danger" class ="value"> {{a['floor_description']}}</td>
          {% else %}
            <td>{{a['floor_description']}}</td>
          {% endif %}

          {% if a['ceiling unit'] == 'FL' or a['ceiling unit'] == "Unknown height unit"  %}
            <td class="text-danger" class ="value"> {{a['ceiling_description']}}</td>
          {% else %}
            <td>{{a['ceiling_description']}}</td>
           {% endif %}

          <td data-editable="false" class ="value">{{a['floor']}}</td>
          <td data-editable="false" class ="value">{{a['ceiling']}}</td>
          <td data-editable="false" class ="value"><button type="button" class="btn btn-primary" id="delete_airspace_{{a['id']}}" onclick=" delete_space({{loop.index0}}, '{{a['name']}}');">Delete</button></td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#file_save_Modal">Save</button>
    </div>


<!-- Modal -->
<div class="modal fade" id="file_save_Modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Save an Openair file</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
          <label for="filename">File Name</label>
          <input type="text" class="form-control" id="filename" required>
          <small id="fileHelp" class="form-text text-muted">Use the same name to overwrite or a new name for a new file. We'll add the .txt extension</small>
  </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="submit-tracks" onclick=save_new()>Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
{% include "js.html" %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{{ static_url_for('static', filename='js/pop_admin_comps.js') }}"></script>
    <script src="{{ static_url_for('static', filename='js/utils.js') }}"></script>
    <script src="/static/js/mindmup-editabletable.js"></script>
<script>
	$('#airspace_table').editableTableWidget();
</script>
<script>
delete_airspace_list = [];
table_data=[];
original_file = "{{file}}";
var airspace_detail = JSON.parse('{{airspace_list|tojson}}');
changes = [];
</script>

<script>
function delete_space(index, name){
  $("#delete_airspace_" + index).closest("tr")
.toggleClass("text-muted bg-dark");
  if (delete_airspace_list.includes(name)===false){
    $("#delete_airspace_" + index).text("Reinstate");
    delete_airspace_list.push(name);
      }
    else {
        $("#delete_airspace_" + index).text("Delete");
        const nameindex = delete_airspace_list.indexOf(name);
        if (nameindex > -1) {
          delete_airspace_list.splice(nameindex, 1);
        }

    }

  };
</script>

<script>
var csrftoken = $('meta[name=csrf-token]').attr('content');

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
</script>
<script>


function get_table_data(){
   // loop over each table row (tr)
   $("#airspace_table tr").each(function(){
        var currentRow=$(this);

        var name_value=currentRow.find("td:eq(0)").text();
        var floor_value=currentRow.find("td:eq(2)").text();
        var ceiling_value=currentRow.find("td:eq(3)").text();

        var obj={};
        obj.name=name_value;
        obj.floor=floor_value;
        obj.ceiling=ceiling_value;
        if(name_value !== ""){
        table_data.push(obj);
        }
   });


}

    </script>

<script>

function save_new(){
  get_changes()
  if($("#filename").val()){
      $('#file_save_Modal').modal('hide');
          var inputs = document.getElementById('airspace_table_body').getElementsByTagName('td');

        $.ajax({
            url: '/users/save_airspace',
            contentType:"application/json",
            dataType:"json",
            data: JSON.stringify({ "delete": delete_airspace_list, "changes": changes,  "old_filename": original_file, "new_filename": $("#filename").val()}),
            type: 'PUT',
            success: function(response) {
            if (response.redirect){
                window.location.href = response.redirect;
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

}



</script>

<script>
function get_changes(){
get_table_data()
let counter = 0;
table_data.forEach(function(element) {

if(typeof airspace_detail[counter] !== 'undefined'){
  if( element.name==airspace_detail[counter].name) //should always be equal
  {

      if(element.floor!==airspace_detail[counter].floor_description)
       {
       changes.push({'name': element.name, 'old': airspace_detail[counter].floor_description, 'new': element.floor})
       }
       if(element.ceiling !==airspace_detail[counter].ceiling_description)
       {
       changes.push({'name': element.name, 'old': airspace_detail[counter].ceiling_description, 'new': element.ceiling})
       }

  }
 }

 counter++;
 })
console.log(changes)
}

</script>

{% endblock %}
