{% extends "base_admin.html"%}
{% block page_title %}
Competition Admin
{% endblock %}

{% block head %}
<!-- CSS -->
<link href="{{ static_url_for('static', filename='css/task.css') }}" rel='stylesheet'>
<link href='https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css' rel='stylesheet'>
<!-- JS -->
<script type='text/javascript' src='/static/js/utils.js'></script>
<script type='text/javascript' src='/static/js/microajax.minified.js'></script>
{% endblock %}

{% block header %}Competitions:{% endblock %}

{% block content %}
<div class='container' id='main'>
  <div class='row'>
    <button type='button' class='btn btn-primary mr-1' data-toggle='modal' data-target='#compmodal'>Create</button>
    <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#importmodal'>Import</button>
  </div>
  <div class='row'>
    <table id='competitions' class='row-border stripe compact mb-1 mt-2' cellspacing='0' width='100%'>
      <thead>
      <tr>
        <th>ID</th>
        <th>Competition</th>
        <th>Location</th>
        <th>From</th>
        <th>To</th>
        <th>Tasks</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
    </table>
  </div>
</div>
<!-- delete Modal -->
<div class='modal fade' id='deletemodal' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle'
     aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered' role='document'>

    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Delete Competition</h4>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
      </div>


      <div class='modal-body' id='deletemodal-body'>
        <p>Warning: This will delete the competition and any associated, tasks, tracklogs and results.
        </p>
        <label for='confirmbox'>To confirm please type "delete" in the box and press the delete button</label><br>
        <input type='text' id='confirmbox' name='confirm'><br>
      </div>
      <div class='modal-footer'>
        <button id='delete_comp_button' class='btn btn-danger ml-4' onclick='delete_comp()'>
          Delete
        </button>
        <button type='button' class='btn btn-primary' data-dismiss='modal'>Cancel</button>
      </div>
    </div>

  </div>
</div>
<!-- end delete Modal -->

<!-- import Modal -->
<div class='modal fade' id='importmodal' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle'
     aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered' role='document'>

    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Import Competition</h4>
      </div>
      <div class='modal-body' id='importmodal-body'>
        <div class='container-fluid'>
          <div class='col-md-12'>
            <p id='fsdb_modal_message'>Please provide a FSDB file.</p>
            <input type='checkbox' class='form-check-input' id='autopublish' name='autopublish'>
            <label class='form-check-label' for='autopublish'>publish results after importing</label>
          </div>
        </div>
        <div id='fsdb_progress'>
          <div class='bar' style='width: 0%;'><p id='fsdb_progress_text'></p></div>
        </div>
        <p id='fsdb_spinner'></p>
      </div>
      <div class='modal-footer'>
        <button id='get_fsdb_file_button' class='btn btn-primary ml-4 '>
          Browse
        </button>
        <button id='fsdb_cancel' type='button' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
        <input id='fsdb_fileupload' type='file' size='chars' class='custom-file-input' oninput='filesize(this);'
               data-url='/users/_import_comp_fsdb/' name='fsdb_file'>

      </div>
    </div>

  </div>
</div>
<!-- end import Modal -->

<!-- create Modal -->
<div class='modal fade' id='compmodal' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle'
     aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered' role='document'>

    <div class='modal-content'>
      <form method='post' id="new_comp_form">
        {{ new_comp_form.hidden_tag() }}
        <div class='modal-header'>
          <h4 class='modal-title'>Create Competition</h4>
          <button type='button' class='close' data-dismiss='modal'>&times;</button>
        </div>
        {% from "macros.html" import render_field with context %}
        <div class='modal-body'>
          <div class='form-row'>
            <section class="pl-1 row-wrap panel-row">
              {{ render_field(new_comp_form.comp_name, width=40) }}
            </section>
            <section class="pl-1 row-wrap panel-row">
              {{ render_field(new_comp_form.comp_code, width=8) }}
              {{ render_field(new_comp_form.comp_class) }}
            </section>
            <section class="pl-1 row-wrap panel-row">
              {{ render_field(new_comp_form.comp_site, width=40) }}
            </section>
            <section class="pl-1 row-wrap panel-row">
              {{ render_field(new_comp_form.date_from) }}
              {{ render_field(new_comp_form.date_to) }}
            </section>
          </div>
    <!--        <form id='createcomp' action='javascript:void(0);' method='post'>-->
    <!--          <div class='form-group'>-->
    <!--            <div class='form-row' id='route'>-->
    <!--              <label for='Name' class='col-2 col-form-label'>Name</label>-->
    <!--              <div class='col-10'>-->
    <!--                <input class='form-control required' type='text' value='' id='compname'>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class='form-row' id='route2'>-->
    <!--              <label for='code' class='col-2 col-form-label'>Short name</label>-->
    <!--              <div class='col-10'>-->
    <!--                <input class='form-control required' type='text' value='' id='compcode'>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class='form-row' id='route3'>-->
    <!--              <label for='class' class='col-2 col-form-label'>Class</label>-->
    <!--              <div class='col-10'>-->
    <!--                <select class='form-control required' type='select' value='' id='compclass'>-->
    <!--                  <option value='HG'>HG</option>-->
    <!--                  <option value='PG'>PG</option>-->
    <!--                </select>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class='form-row' id='route4'>-->
    <!--              <label for='location' class='col-2 col-form-label'>Location</label>-->
    <!--              <div class='col-10'>-->
    <!--                <input class='form-control required' type='text' value='' id='compsite'>-->
    <!--              </div>-->
    <!--            </div>-->

    <!--            <div class='form-group row'>-->
    <!--              <label for='date-from' class='col-2 1ol-form-label'>From</label>-->
    <!--              <div class='col-10'>-->
    <!--                <input class='form-control required' type='date' value='{{today}}' id='datefrom'>-->
    <!--              </div>-->
    <!--              <label for='date-to' class='col-2 col-form-label'>To</label>-->
    <!--              <div class='col-10'>-->
    <!--                <input class='form-control required' type='date' value='{{today}}' id='dateto'>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </form>-->
        </div>
        <div class='modal-errors'>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
          {{new_comp_form.submit(class="btn btn-success", id="new_comp_submit")}}
        </div>
<!--        <div class='modal-footer'>-->
<!--          <button type='button' class='btn btn-primary' data-dismiss='modal' onclick='create_comp();'>Create</button>-->
<!--          <button type='button' class='btn btn-danger' data-dismiss='modal'>Close</button>-->
<!--        </div>-->
      </form>
    </div>

  </div>
</div>
<!-- end create Modal -->

{% endblock %}

{% block js %}
<script type='text/javascript' src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>
<script src="{{ static_url_for('static', filename='js/pop_admin_comps.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.ui.widget.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.iframe-transport.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.fileupload.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/flashed_message.js') }}"></script>
{% endblock %}