{% extends "base_admin.html"%}

{% block page_title %}
Pilot Admin
{% endblock %}

{% block head %}
<!-- JS -->
<script type='text/javascript' src='/static/js/utils.js'></script>
<script type='text/javascript' src='/static/js/microajax.minified.js'></script>
{% endblock %}

{% block css %}
<link href='/static/css/task.css' rel='stylesheet'>
<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
{% endblock %}

{% block back %}
<a href="{{ url_for('user.comp_settings_admin', compid=session.compid)}}" class='btn btn-primary'>
  Back to Competition Settings
</a>
{% endblock %}

{% block header %}
{{session.comp_name}} - Registered Pilots
{% endblock %}

{% block content %}
{% if not session.external %}
<p>
  <button class='btn btn-primary ml-4' type='button' data-toggle='collapse' data-target='#register_pilot'
          aria-expanded='false' aria-controls='register_pilot'>
    Register Pilots
  </button>
</p>
<div class='collapse' id='register_pilot'>
  {% if pilotdb %}
  <p>
    <button class='btn btn-primary ml-5' type='button' data-toggle='collapse' data-target='#internal_pilots'
            aria-expanded='false' aria-controls='internal_pilots'>
      Internal Pilots
    </button>
  </p>
  <div class='collapse' id='internal_pilots'>
    <div class='card card-body'>
      <div class='container'>
        <center>
          <h3 class='font-weight-bold'>Register Pilots</h3>
          <div class='row'>
            <div class='col-xs-5'>
              <h4>All pilots</h4>
              <h6>(Name - civl id)</h6>
              <select name='from[]' id='lstview' class='form-control' size='25' multiple='multiple'>
              </select>
            </div>
            <div id='buttons' class='mt-5 pt-5 col-xs-2'>
              <button type='button' id='lstview_undo' class='btn btn-danger btn-block'>undo</button>
              <button type='button' id='lstview_rightAll' class='btn btn-default btn-block'><i
                      class='fa fa-forward'></i></button>
              <button type='button' id='lstview_rightSelected' class='btn btn-default btn-block'><i
                      class='fa fa-chevron-right'></i></button>
              <button type='button' id='lstview_leftSelected' class='btn btn-default btn-block'><i
                      class='fa fa-chevron-left'></i></button>
              <button type='button' id='lstview_leftAll' class='btn btn-default btn-block'><i
                      class='fa fa-backward'></i></button>
              <button type='button' id='lstview_redo' class='btn btn-warning btn-block'>redo</button>
            </div>
            <div class='col-xs-5'>
              <h4 id='registered'>Registered pilots</h4>
              <h6>(Name - civl id)</h6>
              <select name='to[]' id='lstview_to' class='form-control' size='25' multiple='multiple'>
              </select>
            </div>
          </div>
          <button type='button' onclick='register_pilots();' class='btn btn-success'>Save</button>
        </center>
      </div>
    </div>
  </div>

  <p>
    <button class='btn btn-primary ml-5' type='button' data-toggle='collapse' data-target='#external_pilots'
            aria-expanded='false' aria-controls='external_pilots'>
      External Pilots
    </button>
  </p>

  <div class='collapse' id='external_pilots'>
  {% endif %}

    <div class='card card-body'>
      <div class='container'>
        <h4 style='float:left'>Registered {% if pilotdb %}External {% endif %}Pilots:</h4>
        <h4 id='total_external_pilots'></h4>
        {% if session.is_editor %}
        {% if already_scored %}
        <h5 class="alert alert-warning mt-2 mb-2">There are already pilots results, you cannot delete participants.</h5>
        {% endif %}
        <button id='manual_add_pilot_button' class='btn btn-success ml-4' onclick="add_participant()">
          Add a pilot
        </button>
        {% if not already_scored %}
        <button id='Excel_button' class='btn btn-success ml-4' data-toggle='modal' data-target='#excel_modal'>
          Upload Excel file
        </button>
        <button id='FSDB_button' class='btn btn-success ml-4' data-toggle='modal' data-target='#fsdb_upload_modal'>
          Upload FSDB file
        </button>
        <button id='delete_external' data-toggle='modal' data-target='#delete_modal' class='btn btn-danger ml-4'>Remove
          All
        </button>
        {% else %}
        <button class='btn btn-secondary ml-4'>Upload Excel file</button>
        <button class='btn btn-secondary ml-4'>Upload FSDB file</button>
        <button class='btn btn-secondary ml-4'>Remove All </button>
        {% endif %}
        {% endif %}
      </div>
    </div>
  {% if pilotdb %}
  </div>
  {% endif %}

</div>
{% endif %}

<p>
  <button class='btn btn-primary ml-4' type='button' data-toggle='collapse' data-target='#pilot_details'
          aria-expanded='false' aria-controls='pilot_details'>
    Registered Pilot Details
  </button>
</p>
<div class='collapse' id='pilot_details'>
  <div class='card card-body'>
    <div class='container'>
      <h3 class='font-weight-bold'>Registered Pilot Details</h3>
      <h4 id='total_pilots'></h4>
      <div id='download_section'>
        <button id='download_html' onclick="location.href='/users/_download/participants_html/{{session.compid}}'" class='btn btn-primary ml-4'>HTML list</button>
        <button id='download_fsdb' onclick="location.href='/users/_download/participants_fsdb/{{session.compid}}'" class='btn btn-primary ml-4'>FSDB List</button>
      </div>
      <h6 class='text-danger font-weight-bold mt-3' id='team_messages'></h6>
      {% from "macros.html" import datatable with context %}
      {{ datatable('pilots', compact=True, striped=True, thead='thead-dark') }}
    </div>
  </div>
</div>

<p>
  <button class='btn btn-primary ml-4' type='button' data-toggle='collapse' data-target='#custom_attributes'
          aria-expanded='false' aria-controls='custom_attributes'>
    Custom Attributes
  </button>
</p>
<div class='collapse' id='custom_attributes'>
  <div class='card card-body'>
    <div class='container'>
      <h3 class='font-weight-bold'>Participants Custom Attributes</h3>
      <h4 id='total_attributes'></h4>
      <h6 class='text-danger font-weight-bold mt-3' id='attribute_messages'></h6>
      {% if session.is_editor %}
      <button id='add_attr_button' class='btn btn-success' onclick="new_attribute()">
          Add
      </button>
      {% endif %}
      {% from "macros.html" import datatable with context %}
      {{ datatable('attributes_table', compact=True, thead='thead-dark') }}
      <table id='attributes_table' class='table table-sm row-border table-hover table-responsive' cellspacing='0' width='100%'>
        <thead class="thead-dark">
        </thead>
      </table>
    </div>
  </div>
</div>

{% if session.is_editor %}
<!--- add-edit-participant details modal starts here--->
<div id='mod_modal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <form method='post' id="participant_form">
      {{ participant_form.hidden_tag() }}
        <div class='modal-header'>
          <h4 class='modal-title'>Update Participant Details</h4>
        </div>
        {% from "macros.html" import render_field with context %}
        <div class='modal-body' id='mod_modal-body'>
          <div class='form-row'>
            <section class="pl-1 row-wrap panel-row">
              <input type="hidden" id="mod_original_id_number" value="">
              <input type="hidden" id="mod_last_id_number" value="">
              <input type="hidden" id="mod_par_id" value="">
              {{ render_field(participant_form.id_num, size=3, id='mod_id_number') }}
              {{ render_field(participant_form.CIVL, size=5, id='mod_civl') }}
              {{ render_field(participant_form.name, size=30, id='mod_name') }}
            </section>
            <section class="pl-1 row-wrap panel-row">
              {{ render_field(participant_form.birthdate, id='mod_birthdate') }}
            </section>
            <section class="pl-1 row-wrap panel-row">
              {{ render_field(participant_form.nat, id='mod_nat') }}
              {{ render_field(participant_form.sex, id='mod_sex') }}
            </section>
            <section class="pl-1 row-wrap panel-row">
              {{ render_field(participant_form.glider, size=30, id='mod_glider') }}
              {{ render_field(participant_form.certification, id='mod_certification') }}
            </section>
            <section class="pl-1 row-wrap panel-row">
              {{ render_field(participant_form.sponsor, size=40, id='mod_sponsor') }}
            </section>
            <section class="pl-1 row-wrap panel-row" id="mod_all_team_section">
              <section id="mod_team_section">
              {{ render_field(participant_form.team, size=40, id='mod_team') }}
              </section>
              <section id="mod_nat_team_section">
              {{ render_field(participant_form.nat_team, id='mod_nat_team') }}
              </section>
            </section>
            <section class="pl-1 row-wrap panel-row" id="mod_track_source_section">
              <section id="mod_flymaster_section">
              {{ render_field(participant_form.live_id, size=7, id='mod_live_id') }}
              </section>
              <section id="mod_xcontest_section">
              {{ render_field(participant_form.xcontest_id, size=10, id='mod_xcontest_id') }}
              </section>
            </section>
            <section class="pl-1 row-wrap panel-row">
              {{ render_field(participant_form.status, id='mod_status') }}
              {{ render_field(participant_form.paid, id='mod_paid') }}
            </section>
            {% if attributes %}
            {% from "macros.html" import render_input with context %}
            <section class="pl-1 row-wrap panel-row" id="mod_comp_attr_section">
              {% for el in attributes %}
              {% set id = 'attr_'+el.attr_id|string %}
              {{ render_input(id, el.attr_value, 35) }}
              {% endfor %}
            </section>
            {% endif %}
          </div>
        </div>
        <div class='modal-errors'>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
          {{participant_form.submit(class="btn btn-success", id="mod_confirmed")}}
        </div>
      </form>
    </div>
  </div>
</div>
<!--- add-edit-participant details-Modal ends here--->

<!--- add-edit-custom-attribute modal starts here--->
<div id='attr_modal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Update Custom Attribute</h4>
      </div>
      <div class='modal-body'>
        {% from "macros.html" import render_input with context %}
        <section class="pl-1 row-wrap panel-row">
          <input type="hidden" id="attr_id" value="">
          {{ render_input('attr_value', 'Name', 35) }}
        </section>
      </div>
      <div class='modal-errors'>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
        <button type='button' class='btn btn-success'  data-dismiss='modal'
                onclick='save_custom_attribute();' id='attr_save_confirmed'>Save
        </button>
      </div>
    </div>
  </div>
</div>
<!--- add-edit-custom-attribute Modal ends here--->

<!-- delete Modal -->
<div id='delete_modal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Please confirm</h4>
      </div>
      <div class='modal-body' id='modal-body'>
        <p>This will remove all the{% if pilotdb %} external{% endif %} pilots from the competition</p>

      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-success' data-dismiss='modal'>Cancel</button>
        <button id='delete_confirmed' type='button' onclick='unregister_all_external();' class='btn btn-danger'
                data-dismiss='modal'>Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end delete Modal -->

<!-- remove-attribute Modal -->
<div id='remove-attribute_modal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Please confirm: delete custom attribute</h4>
      </div>
      <div class='modal-body'>
        <h6 id="delete_attr_name"></h6>
        <p>This will remove attribute informations from all participants</p>
        <input type="hidden" id="remove_attr_id" value="">
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-success' data-dismiss='modal'>Cancel</button>
        <button id='remove-attribute_confirmed' type='button' onclick='confirm_remove_attribute();' class='btn btn-danger'
                data-dismiss='modal'>Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end remove-attribute Modal -->

<!--- upload excel file Modal starts here--->
<div id='excel_modal' class='modal fade' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Upload Participants Excel File</h4>
      </div>
      <div class='modal-body' id='statusmodal-body'>
        <div class='container-fluid'>
          <div class='col-md-12'>
            <p><strong>The excel file has to be in standard AirTribune format.</strong></p>
            <a class="btn btn-primary mt-2 mb-2" href="/download/file/participants_template.xlsx">Download Template File</a>
            <ul class="list-group">
              <li class="list-group-item">id: Pilot ID <span class="text-warning">(mandatory)</span></li>
              <li class="list-group-item">name: Pilot name <span class="text-warning">(mandatory)</span></li>
              <li class="list-group-item">nat: Country code</li>
              <li class="list-group-item">female: 1 if female</li>
              <li class="list-group-item">birthday: format dd.mm.yyyy</li>
              <li class="list-group-item">glider, color, sponsor: glider name and color, sponsor</li>
              <li class="list-group-item">fai_licence: 1 if valid</li>
              <li class="list-group-item">CIVLID: numeric, pilot's CIVL id</li>
              <li class="list-group-item">club, team: pilot's club and team</li>
              <li class="list-group-item">class: glider certification, used in rankings</li>
              <li class="list-group-item">Live: If using Flymaster livetracking, 'Live' column should contain pilots tracker id.</li>
            </ul>
          </div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
          <button id='upload_excel_button' class='btn btn-primary ml-4' data-dismiss="modal">Browse...</button>
          <input id='Excel_fileupload' style='width: 0%;' type='file' size='chars' class='custom-file-input'
               data-url='/users/_upload_participants_excel/{{ session.compid }}' name='excel_file'>
        </div>
      </div>
    </div>
  </div>
</div>
<!--- upload excel file Modal ends here--->

<!--- upload FSDB file Modal starts here--->
<div id='fsdb_upload_modal' class='modal fade' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Import Participants from FSDB File</h4>
      </div>
      <div class='modal-body' id='fsdb_upload_modal-body'>
        <div class='container-fluid'>
          <div class='col-md-12'>
            <p class="text-danger font-weight-bold">This process will delete any pilot already registered in this event.</p>
          </div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
          <button id='upload_fsdb_button' class='btn btn-primary ml-4' data-dismiss="modal">Browse...</button>
          <input id='FSDB_fileupload' style='width: 0%;' type='file' size='chars' class='custom-file-input'
               data-url='/users/_upload_participants_fsdb/{{ session.compid }}' name='fsdb_file'>
        </div>
      </div>
    </div>
  </div>
</div>
<!--- upload excel file Modal ends here--->
{% endif %}
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="{{ static_url_for('static', filename='js/multiselect.min.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.ui.widget.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.iframe-transport.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.fileupload.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/pilot_admin.js') }}"></script>

<script type='text/javascript'>
var pilotdb = {{ pilotdb|tojson }};
var compid = {{ session.compid|tojson }};
var external_comp = {{ session.external|tojson }};
var is_editor = {{ session.is_editor|tojson }};
var attributes = {{ attributes|tojson }};
var track_source = {{ session.track_source|tojson }};
var unregister_participant_url = "{{ url_for('user._unregister_participant', compid=session.compid) }}";
var check_team_size_url = "{{ url_for('user._check_team_size', compid=session.compid) }}";
var check_nat_team_size_url = "{{ url_for('user._check_nat_team_size', compid=session.compid) }}";
var get_non_and_registered_pilots_internal_url = "{{ url_for('user._get_non_and_registered_pilots_internal', compid=session.compid) }}";
var register_pilots_url = "{{ url_for('user._register_pilots', compid=session.compid) }}";
var unregister_all_external_participants_url = "{{ url_for('user._unregister_all_external_participants', compid=session.compid) }}";
var register_pilots_url = "{{ url_for('user._register_pilots', compid=session.compid) }}";
</script>
{% endblock %}