{% extends "base_admin.html"%}

{% block page_title %}
Region Admin
{% endblock %}

{% block css %}
<link rel='stylesheet' href='https://cdn.datatables.net/rowgroup/1.1.1/css/rowGroup.dataTables.min.css'>
{% endblock %}

{% block back %}
<a href="{{ url_for('user.comp_settings_admin', compid=compid)}}" class='btn btn-primary'>
  Back to Competition Settings
</a>
{% endblock %}

{% block header %} Flying Area Details {% endblock %}

{% block content %}
{{region_select.hidden_tag()}}
{% from "macros.html" import render_field with context %}
{% from "macros.html" import render_info with context %}

<div class="panel-content column-wrap">
  {% if session.is_editor %}
  <div class='panel thin' id='add_button_panel'>
    <section class="panel-row thin button">
      <button id='add_area_btn' class='btn btn-primary' type='button' data-toggle='collapse' data-target='#add_area'
          aria-expanded='false' aria-controls='add_area'>
        Add Area
      </button>
    </section>
  </div>
  <div class='panel collapse' id='add_area'>
    <form id='upload-form' action='' method='POST' enctype='multipart/form-data'>
      {{new_region_form.hidden_tag()}}
      <section class="panel-row row-wrap form">
        {{ render_field(new_region_form.name, size=20) }}
      </section>
      <section class="panel-row row-wrap form">
        {{ render_field(new_region_form.waypoint_file) }}
        {{ render_info('wpt_formats', 'Formats', 'GEO, UTM, CUP, GPX, CompeGPS and OziExplorer') }}
      </section>
      <section class="panel-row row-wrap form">
        {{ render_field(new_region_form.openair_file) }}
        {{ render_info('airspace_formats', 'Formats', 'OpenAir') }}
      </section>
      <section class="panel-row button">
        {{new_region_form.submit(class="btn btn-success")}}
      </section>
    </form>
  </div>
  {% endif %}
  <div class='panel' id='region_details'>
    <section class="panel-row row-wrap form">
      {{ render_field(region_select.region) }}
      {% if session.is_editor %}
      <button type='button' class='btn btn-danger' onclick='confirm_delete()' data-toggle='confirmation'
                data-popout='true'>Delete
      </button>
      {% endif %}
    </section>
    <section class="panel-row column-wrap form">
      <div class="row-wrap">
        <h5 id='region_wpt_no'></h5>
      </div>
      <div class="row-wrap">
        <h5 id='region_wpt_filename'></h5>
      </div>
      <div class="row-wrap">
        <h5 id='region_oair_filename'></h5>
        {% if session.is_editor %}
        <button id='edit_openair_button' class='btn btn-warning ml-4' type='button' hidden>Edit</button>
        {% endif %}
      </div>
    </section>
  </div>
  <div class='panel' id='wpt_button_panel'>
    <section class="panel-row thin button">
      <button class='btn btn-primary' type='button' data-toggle='collapse' data-target='#wpt_list'
          aria-expanded='false' aria-controls='wpt_list'>
        Waypoints
      </button>
    </section>
  </div>
  <div class='panel collapse' id='wpt_list'>
    {% from "macros.html" import datatable with context %}
    {{ datatable('waypoints') }}
  </div>
  <div class='panel' id='map_panel'>
    <section class='panel-row row-wrap form'>
      <div class='task-map embed-responsive' id="map_container">
      </div>
    </section>
  </div>
</div>

{% if session.is_editor %}
<!---delete modal starts here--->
<div id='modal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Please confirm</h4>
      </div>
      <div class='modal-body' id='modal-body'>
        <p>Here the description starts here........</p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-success btn-default' data-dismiss='modal'>Cancel</button>
        <button id='delete_confirmed' type='button' class='btn btn-danger btn-default' data-dismiss='modal'>Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!---Modal ends here--->
{% endif %}

{% endblock %}

{% block js %}
<script type='text/javascript' src='https://cdn.datatables.net/rowgroup/1.1.1/js/dataTables.rowGroup.min.js'></script>
<script src="{{ static_url_for('static', filename='js/display-if.min.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.ui.widget.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.iframe-transport.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.fileupload.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/pop_waypoints.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/region_admin.js') }}"></script>
<script type='text/javascript'>
  var external_comp = {{ session.external|tojson }};
  var is_editor = {{ session.is_editor|tojson }};
  var url_get_regions = "{{ url_for('user._get_regions') }}";
</script>
{% endblock %}