{% extends "layout.html"%}
{% block content %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="/static/css/task.css" rel="stylesheet">
    <!-- <link href="navbar.css" rel="stylesheet"> -->
    <link href="/static/css/spacelab_bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- JS -->
    <script type="text/javascript" src="/static/js/utils.js"></script>
    <script type="text/javascript" src="/static/js/microajax.minified.js"></script>
  </head>

<body>

 <div class="container">
    <div id = "display_file">
       <div class="form-row form-group col-md-12">
                 <button class="btn btn-primary ml-4" type="button">
      Score Task
      </button>

      <button class="btn btn-warning ml-4" type="button">
      Full Rescore
      </button>
           &nbsp;
            {{fileform.result_file.label}}&nbsp;{{fileform.result_file(**{'id':"file"})}}
           <button id="publish" class="btn btn-danger ml-4" type="button" onclick="toggle_publish();">
            Un-publish results
            </button>
       </div>
    </div>
 </div>
  <div class="container-fluid">
      <div class="row mb-3">
          <div class="col w-100">
          <table id="task_result" class="row-border compact" cellspacing="0" width="100%">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Pilot</th>
                  <th>SS</th>
                  <th>ES</th>
                  <th>Time</th>
                  <th id="altbonus">alt bonus</th>
                  <th>Kms</th>
                  <th>Spd p</th>
                  <th id="leading">LO p</th>
                  <th>Arv</th>
                  <th>Dst p</th>
                  <th>Pen</th>
                  <th>Tot</th>
<!--                  <th>Notes</th>-->
<!--                  <th>Actions</th>-->
              </tr>
          </thead>
          </table>
          </div>
      </div>

  </div>

</body>

{% endblock %}
{% block js %}
{% include "js.html" %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/pop_task_score_admin.js"></script>
    <script type="text/javascript">populate_task_scores({{taskid}},{{active_file|tojson}})</script>
    <script type="text/javascript">
        $(document).ready(function() {
    // Event listener to the file picker to redraw on input
    $('#file').change( function() {
    var filename = $('#file option:selected').val();
    if(filename=='{{active_file}}'){
        $('#publish').text('Un-Publish results');
          $('#publish').addClass('btn-danger').removeClass('btn-success');
    }
    else {  $('#publish').text('Publish results');
             $('#publish').addClass('btn-success').removeClass('btn-danger');
            }
        populate_task_scores({{taskid}}, filename);
    } );
} );

function toggle_publish(){



}
    </script>

{% endblock %}