{% extends "base_admin.html"%}

{% block page_title %}
Task Settings
{% endblock %}

{% block css %}
<link rel='stylesheet' type='text/css' href="{{ static_url_for('static', filename='build/main_css.bundle.css') }}"/>
{% endblock %}

{% block back %}
<a href="{{ url_for('user.comp_settings_admin', compid=compid)}}" class='btn btn-info'>
  Back to Competition Settings
</a>
{% if not session.external %}
<a href="{{ url_for('user.track_admin', taskid=taskid)}}" class='btn btn-info ml-2'>
  Tracks
</a>
{% endif %}
<a href="{{ url_for('user.task_score_admin', taskid=taskid)}}" class='btn btn-info ml-2'>
  Task Scores
</a>
{% endblock %}

{% block header %}
{{taskform.comp_name}} - Task {{taskform.task_num.data}}
{% endblock %}

{% block content %}
<div>
  <h5 class="info text-info" id='task_distance'></h5>
</div>

<form method='post' id="main_task_settings_form">
  {{taskform.hidden_tag()}}

  <!-- Save Settings button -->
  <div class='tab-save row-wrap'>
    {% if taskform.submit %}
    {{taskform.submit(class="btn btn-outline-secondary", id="main_task_save_button")}}
    <h6 class="ml-4 mt-2 pr-1 pl-1" id="save_button_warning_text"></h6>
    {% else %}
    <b>You are not a scorekeeper of this comp</b>
    {% endif%}
  </div>

  <!-- Settings Tab Section -->
  <div role="tabpanel" class="tab-panel">
    <!-- Nav tabs -->
    <ul role="tablist" id="tab-list" class="nav nav-tabs">
      <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link active" id="details-tab " href="#details" aria-controls="details">Task Details</a></li>
      <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#formula" aria-controls="formula">Formula</a></li>
      <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#checking" aria-controls="checking">Checking Params</a></li>
      <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#timing" aria-controls="timing">Timing</a></li>
    </ul>

    <div class="tab-content">
      <!-- Tab panes -->
      {% if taskform.submit %}
      {% from "macros.html" import render_field with context %}
      {% set readonly = session.external %}
      <div role="tabpanel" class="tab-pane column-wrap fade show active" id="details">
        <h4 class='tab-title font-weight-bold'>Task Details:</h4>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.task_num, 2, disabled=readonly) }}
            {{ render_field(taskform.task_name, 20, disabled=readonly) }}
        </section>
        {% if not readonly %}
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.region, tooltip=True) }}
            <a class="btn btn-primary mt-4" href="{{ url_for('user.region_admin', compid=session.compid) }}">Add / Edit Comp regions</a>
        </section>
        {% endif %}
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.date, 15, disabled=readonly) }}
            {{ render_field(taskform.time_offset, tooltip=True, disabled=readonly) }}
        </section>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.task_type, tooltip=True, disabled=readonly) }}
            {{ render_field(taskform.comment, 40, tooltip=True) }}
        </section>
      </div>
      <div role="tabpanel" class="tab-pane column-wrap fade" id="formula">
        <h4 class='tab-title font-weight-bold'>Formula Parameters:</h4>
        <section class="tab-row row-wrap form">
          <div class='alert alert-warning' role='alert'>
            <h4>These settings are inherited from the settings for this competition.<br>Change them here if you want to
            overide for this task only.</h4>
          </div>
        </section>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.formula_distance, tooltip=True, disabled=readonly) }}
            {{ render_field(taskform.formula_departure, tooltip=True, disabled=readonly) }}
            {{ render_field(taskform.formula_time, tooltip=True, disabled=readonly) }}
            {{ render_field(taskform.formula_arrival, tooltip=True, disabled=readonly) }}
        </section>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.tolerance, 3, tooltip=True, disabled=readonly) }}
            {{ render_field(taskform.no_goal_penalty, 4, tooltip=True, disabled=readonly) }}
        </section>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.max_JTG, 4, tooltip=True, disabled=readonly) }}
            {{ render_field(taskform.arr_alt_bonus, 4, tooltip=True, disabled=readonly) }}
        </section>
      </div>
      <div role="tabpanel" class="tab-pane column-wrap fade" id="checking">
        <h4 class='tab-title font-weight-bold'>Tracks Checking Parameters:</h4>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.check_launch, tooltip=True, disabled=readonly) }}
            {{ render_field(taskform.QNH, 7, tooltip=True, disabled=readonly) }}
            {{ render_field(taskform.airspace_check, tooltip=True, disabled=readonly) }}
            {% if taskform.airspace_check.data %}
            <a href="{{ url_for('user.airspace_check_admin', compid=compid) }}" class='btn btn-info ml-2'>
              Parameters
            </a>
            {% endif %}
        </section>
      </div>
      <div role="tabpanel" class="tab-pane column-wrap fade" id="timing">
        <h4 class='tab-title font-weight-bold'>Task Timing:</h4>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.window_open_time, 3, tooltip=True, disabled=readonly) }}
            {{ render_field(taskform.window_close_time, 3, tooltip=True, disabled=readonly) }}
            {{ render_field(taskform.task_deadline, 3, tooltip=True, disabled=readonly) }}
        </section>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.start_time, 3, tooltip=True, disabled=readonly) }}
            {{ render_field(taskform.start_close_time, 3, tooltip=True, disabled=readonly) }}
          <button class='btn btn-primary ml-4 collapsed' type='button' data-toggle='collapse' data-target='#multi_start'
                    aria-expanded='false' aria-controls='multi_start'>
              Multi Start Settings
          </button>
        </section>
        <section class="tab-row row-wrap collapse" id='multi_start'>
            <section class="panel-row row-wrap form">
            {{ render_field(taskform.SS_interval, 3, tooltip=True, disabled=readonly) }}
            {{ render_field(taskform.start_iteration, 2, tooltip=True, disabled=readonly) }}
            </section>
        </section>
        <section class="tab-row row-wrap button">
          <button class='btn btn-danger ml-4 collapsed' type='button' data-toggle='collapse' data-target='#stopped'
                    aria-expanded='false' aria-controls='stopped'>
              Stopped task
          </button>
        </section>
        <section class="tab-row row-wrap form collapse" id='stopped'>
            <section class="panel-row row-wrap">
            {{ render_field(taskform.stopped_time, 3, tooltip=True, disabled=readonly) }}
            </section>
        </section>
      </div>
    </div>
    {% endif %}
  </div>
</form>

<!-- Task Waypoints Section -->
<div class="panel-content column-wrap">
  <div class="panel-switch">
    <button class='btn btn-primary ml-4' type='button' data-toggle='collapse' data-target='#task_waypoints'
            aria-expanded='true' aria-controls='task_waypoints'>
      Task Waypoints
    </button>
  </div>
  <div class='panel collapse show' id='task_waypoints'>
    <h4 class='tab-title font-weight-bold'>Task Waypoints:</h4>
    {% if taskform.submit and not readonly %}
    <section class="panel-row row-wrap button">
      <button id='delete_all_btn' class='btn btn-danger ml-5 ' onclick='confirm_delete_all();' type='button'>
        Clear Task
      </button>
      <button id='import_task_btn' class='btn btn-secondary ml-5 ' type='button' data-toggle='collapse' data-target='#import_task'
              aria-expanded='false' aria-controls='import_task'>
        Import
      </button>
      <div class='panel collapse' id='import_task'>
        <section class="panel-row row-wrap button">
          <button id='XCTrack_button' class='btn btn-success ml-4 '>Import XCTrack Task File...</button>
          <input id='XCTrack_fileupload' type='file' size='chars' class='custom-file-input'
                 oninput='filesize(this);' data-url='/users/_upload_XCTrack/{{ taskid }}' name='track_file'>
        </section>
      </div>
    </section>
    {% endif%}
    <section class="panel-row row-wrap form">
      <div class='panel' id='wpt_list'>
        {% if taskform.submit and not readonly %}
        {% if taskform.region.data %}
        <section class="tab-row row-wrap form p-2">
          {{ render_field(turnpointform.name, 8, tooltip=True) }}
        </section>
        <section class="tab-row row-wrap form p-2" id="new_waypoint_form">
          {{ render_field(turnpointform.number, 2, tooltip=True) }}
          {{ render_field(turnpointform.type, tooltip=True) }}
          <div class='display-if' data-target_name='type' data-target_type='select'
                         data-target_value='speed'>
          {{ render_field(turnpointform.how, tooltip=True) }}
          </div>
          <div class='display-if' data-target_name='type' data-target_type='select'
                         data-target_value='goal'>
          {{ render_field(turnpointform.shape, tooltip=True) }}
          </div>
          {% if taskform.check_launch == 1 %}
          <div class='display-if' data-target_name='type' data-target_type='select'
                         data-target_value='launch'>
          {{ render_field(turnpointform.radius, 5, tooltip=True) }}
          </div>
          {% endif%}
          <div class='display-if' data-target_name='type' data-target_type='select'
                         data-target_value_not='launch'>
          {{ render_field(turnpointform.radius, 5, tooltip=True) }}
          </div>
        </section>
        <section class="panel-row row-wrap button">
          <button id='add_waypoint_button' class='btn btn-success' type='button' onclick='save_turnpoint()'>
            Add
          </button>
          <p id='add_tp_spinner'></p>
        </section>
        {% else %}
        <section class="panel-row row-wrap form">
          <p class="p-2 description">Select an existing Region or create a new one for the task to display a waypoint list.</p>
        </section>
        {% endif %}
        {% endif %}
      </div>
      <div class='panel' id="task_wpt">
        <table class='table' id='task_wpt_table'>
        </table>
      </div>
    </section>
    <!--- map --->
    <section class="panel-row row-wrap form">
      <div class='task-map embed-responsive' id="map_container" hidden>
      </div>
    </section>
  </div>
</div>

{% if taskform.submit and not readonly %}
<!--- delete-modal starts here--->
<div id='delmodal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Please confirm</h4>
      </div>
      <div class='modal-body' id='delmodal-body'>
        <p>Here the description starts here........</p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-success' data-dismiss='modal'>Cancel</button>
        <button id='delete_confirmed' type='button' class='btn btn-danger'>Delete</button>
        <p id='delete_spinner'></p>
      </div>
    </div>
  </div>
</div>
<!--- delete-Modal ends here --->

<!--- modify-modal starts here --->
<div id='modmodal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'></h4>
      </div>
      <div class='modal-body' id='modmodal-body'>
        <div class='form-row'>
          <div class='form-group width6'>
            {{modifyturnpointform.mod_number.label}} {{modifyturnpointform.mod_number(size=2,
            **{'id':"mod_tp_number",})}}
            {{modifyturnpointform.mod_type.label}} {{modifyturnpointform.mod_type(**{'id':"mod_tp_type",})}}
          </div>
        </div>
        <div class='form-row'>
          <div class='form-group width12'>
            {{modifyturnpointform.mod_name.label}} {{modifyturnpointform.mod_name(**{'id':"mod_tp_name", 'data-toggle':
            'tooltip', 'title': modifyturnpointform.mod_name.description})}}
          </div>
        </div>
        <div class='form-row'>
          <div class='form-group col-md-12 display-if' data-target_name='mod_type' data-target_type='select'
               data-target_value='speed'>
            {{modifyturnpointform.mod_how.label}} {{modifyturnpointform.mod_how(**{'id':"mod_tp_how", 'data-toggle':
            'tooltip', 'title': modifyturnpointform.mod_how.description})}}
          </div>
        </div>
        <div class='form-row'>
          <div class='form-group col-md-6 display-if' data-target_name='mod_type' data-target_type='select'
               data-target_value='goal'>
            {{modifyturnpointform.mod_shape.label}} {{modifyturnpointform.mod_shape(**{'id':"mod_tp_shape",
            'data-toggle': 'tooltip', 'title': modifyturnpointform.mod_shape.description})}}
          </div>
          <div class='form-group col-md-6 display-if' data-target_name='check_launch' data-target_type='checkbox'
               data-target_value='true'>
            <div class='form-group col-md-6 display-if' data-target_name='mod_type' data-target_type='select'
                 data-target_value='launch'>
              {{modifyturnpointform.mod_radius.label}} {{modifyturnpointform.mod_radius(size=5 ,
              **{'id':"mod_tp_launch_radius",'data-toggle': 'tooltip', 'title':
              modifyturnpointform.mod_radius.description})}}
            </div>
          </div>
          <div class='form-group col-md-6 display-if' data-target_name='mod_type' data-target_type='select'
               data-target_value_not='launch'>
            {{modifyturnpointform.mod_radius.label}} {{modifyturnpointform.mod_radius(size=5 ,
            **{'id':"mod_tp_radius",'data-toggle': 'tooltip', 'title': modifyturnpointform.mod_radius.description})}}
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
        <button id='modify_confirmed' type='button' class='btn btn-success' data-dismiss='modal'>Save</button>
      </div>
    </div>
  </div>
</div>
<!--- modify-Modal ends here --->
{% endif%}

{% endblock %}
{% block js %}
<script src="{{ static_url_for('static', filename='js/display-if.min.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.ui.widget.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.iframe-transport.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.fileupload.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/task_admin.js') }}"></script>
<script type=text/javascript>
  var compid = {{ compid|tojson }};
  var external = {{ session.external|tojson }};
  var taskid = {{ taskid|tojson }};
  var task_admin = {{ taskform.submit|tojson }};
  var url_get_task_turnpoints = "{{ url_for('user._get_task_turnpoints', taskid=taskid)}}";
  var url_add_turnpoint = "{{ url_for('user._add_turnpoint', taskid=taskid)}}";
</script>

{% endblock %}