{% extends "base_admin.html"%}

{% block page_title %}
Task Scoring Admin
{% endblock %}

{% block head %}
<!-- CSS -->
<link href='https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css' rel='stylesheet'>
{% endblock %}

{% block back %}
<a href="{{ url_for('user.comp_settings_admin', compid=compid)}}" class='btn btn-info' type='button'>
  Back to Competition Settings
</a>
<a href="{{ url_for('user.task_admin', taskid=taskid)}}" class='btn btn-info ml-2' type='button'>
  Task Settings
</a>
<a href="{{ url_for('user.track_admin', taskid=taskid)}}" class='btn btn-info ml-2' type='button'>
  Manage Tracks
</a>
{% endblock %}

{% block header %}
{{session.comp_name}} - Task {{task_num}}
{% endblock %}

{% block content %}
<!-- Settings Tab Section -->
<div role="tabpanel" class="tab-panel">
  <!-- Nav tabs -->
  <ul role="tablist" id="tab-list" class="nav nav-tabs">
    <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link active" id="task_result_tab" href="#task_results" aria-controls="task_results">Task Results</a></li>
    <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" id="comp_result_tab" href="#comp_result" aria-controls="comp_result">Comp Results</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane column-wrap fade show active" id="task_results">
      <h4 class='tab-title font-weight-bold'>Task Results:</h4>
      <section class="tab-row row-wrap button">
          {% if not user_is_scorekeeper %}
          <h4>You are not a scorekeeper of this competition, thus you cannot access most of functionalities in this page.</h4>
          {% else %}
          <button class='btn btn-primary' type='button' onclick='Score_modal();'>
            Score Task
          </button>
          <button class='btn btn-warning ml-2' type='button' data-toggle='modal' data-target='#fullscoremodal'>
            Full Rescore
          </button>
          {% endif %}
      </section>
      <section class="tab-row row-wrap form">
          <h5 id='task_result_header'></h5>
      </section>
      {% if user_is_scorekeeper %}
      {% from "macros.html" import render_field with context %}
      <section class="tab-row row-wrap form">
          {{ render_field(fileform.result_file) }}
          <button id='publish' class='btn btn-danger' type='button' onclick='toggle_publish();'>
            Un-publish results
          </button>
          <button id='change_status' class='btn btn-primary ml-2' type='button' onclick='open_status_modal();'>
            Edit Status
          </button>
          <button id='download_task_html' class='btn btn-primary ml-2' type='button'>
            Task HTML
          </button>
      </section>
      {% endif %}
    </div>
    <div role="tabpanel" class="tab-pane column-wrap fade" id="comp_result">
      <h4 class='tab-title font-weight-bold'>Comp Results:</h4>
      {% if user_is_scorekeeper %}
      <section class="tab-row row-wrap button">
          <button id='comp_publish' class='btn btn-danger' type='button' onclick='comp_publish();'>
            Update
          </button>
          <p id='comp_publish_spinner' style="width: 8rem; min-width: 8rem"></p>
      </section>
      {% endif %}
      <section class="tab-row row-wrap form">
          <h5 id='comp_header'></h5>
      </section>
      <section class="tab-row row-wrap form">
          {% if user_is_scorekeeper %}
          <button id='comp_unpublish' class='btn btn-danger' type='button' onclick='comp_unpublish();'>
            Remove
          </button>
          <button id='download_comp_html' class='btn btn-primary ml-2' onclick="location.href='/users/_download/comp_html/{{session.compid}}'" type='button'>
            Comp HTML
          </button>
          {% endif %}
      </section>
    </div>
  </div>
</div>

<!-- Task result Tab Section -->
<div role="tabpanel" class="tab-panel">
  <!-- Nav tabs -->
  <ul role="tablist" id="task_tab-list" class="nav nav-tabs">
    <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link active" id="task_table_tab" href="#task_table" aria-controls="task_table">Results</a></li>
    <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" id="task_stats_tab" href="#task_stats" aria-controls="task_stats">Task Stats</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane column-wrap fade show active" id="task_table">
      <table id='task_result' class='row-border stripe compact' cellspacing='0' width='100%'>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane column-wrap fade" id="task_stats">
      <table class='table table-sm form_param' id='taskinfo'>
        <thead class='thead-light small' id='taskinfo_hd'>
          <tr>
            <th>Task Metric</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody class='small' id='taskinfo_bd'>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% if user_is_scorekeeper %}
<!---status-modal starts here--->
<div id='statusmodal' class='modal fade' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Edit Status</h4>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' id='statusmodal-body'>
        <div class='container-fluid'>
          <div class='col-md-12'>

            <br>
            <label for='autopublish'>Status:</label>
            <input type='text' id='status_modal_comment' class='form-control'
                   placeholder='partial/provisional/official etc.'>
          </div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
          <button type='button' onclick='change_status()' class='btn btn-primary'>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!---status-Modal ends here--->

<!---score-modal starts here--->
<div id='scoremodal' class='modal fade' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Score Task</h4>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' id='scoremodal-body'>
        <div class='container-fluid'>
          <div class='col-md-12'>
            <input type='checkbox' class='form-check-input' id='autopublish' name='autopublish' value='1'>
            <label class='form-check-label' for='autopublish'>publish results after scoring</label>
            <br>
            <br>
            <label for='autopublish'>Status:</label>
            <input type='text' id='status_comment' class='form-control' placeholder='partial/provisional/official etc.'>

            <small id='helptxt' class='form-text text-muted'>This can be done later also.</small>
          </div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' id='cancel_score_btn' data-dismiss='modal'>Cancel</button>
          <button type='button' id='score_btn' onclick='Score()' class='btn btn-primary'>Score</button>
          <p id='score_spinner'></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!---score-Modal ends here--->

<!---full rescore-modal starts here--->
<div id='fullscoremodal' class='modal fade' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Full Rescore Task - reprocess all tracks and score</h4>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' id='fullscoremodal-body'>

        <div class='container-fluid'>
          <div class='col-md-12'>
            <input type='checkbox' class='form-check-input' id='fullautopublish' name='autopublish' value='1'>
            <label class='form-check-label' for='autopublish'>publish results after scoring</label>
            <br>
            <br>
            <label for='autopublish'>Status:</label>
            <input type='text' id='fullstatus_comment' class='form-control'
                   placeholder='partial/provisional/official etc.'>

            <small id='fullhelptxt' class='form-text text-muted'>This can be done later also.</small>
          </div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' id='cancel_fullscore_btn' data-dismiss='modal'>Cancel</button>
          <button type='button' id='fullscore_btn' onclick='FullRescore();' class='btn btn-primary'>Full Rescore
          </button>
          <p id='fullscore_spinner'></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!---full_Rescore-Modal ends here--->

<!---edit-modal starts here--->
<div id='editmodal' class='modal fade bd-example-modal-lg   ' tabindex='-1' role='dialog'>
  <div class='modal-dialog modal-lg' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>comments and penalties/bonuses</h4>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <h7 class='text-center'>edit existing admin rows or add a new one</h7>
      <div class='modal-body' id='editmodal-body'>
        <div class='container-fluid'>
          <div class='col-md-12'>
            <table class='table table-striped ' id='edit_table'>
              <thead>
              <tr>
                <th scope='col' style='display:none;'>ID</th>
                <th scope='col'>Source</th>
                <th scope='col'>Percentage Penalty</th>
                <th scope='col'>Point Penalty</th>
                <th scope='col'>Comment</th>

              </tr>
              </thead>
              <tbody id='airspace_table_body'>

              </tbody>
            </table>
          </div>
          <div class='col-md-12'>
            {{editform.penalty_bonus()}}
            {{editform.flat_penalty.label}} {{editform.flat_penalty()}}
          </div>
          <div class='col-md-12'>
            {{editform.comment.label}}
            {{editform.comment}}
          </div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
          <button type='button' id='save_adjustment' class='btn btn-primary'>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!---edit-Modal ends here--->

<!---process log Modal starts here -->
<div class='modal fade' id='ProcessModal' tabindex='-1' role='dialog' aria-labelledby='ProcessModalTitle'
     aria-hidden='true'>
  <div class='modal-dialog modal-dialog-scrollable' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='ProcessModalTitle'>Tracklog Processing</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' id='process_text'>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>
<!-- process log Modal ends here -->
{% endif %}
{% endblock %}

{% block js %}
{% if user_is_scorekeeper %}
<script type='text/javascript' src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>
<script type='text/javascript' src="{{ static_url_for('static', filename='js/pop_task_score_admin.js') }}"></script>
<script type='text/javascript' src="{{ static_url_for('static', filename='js/mindmup-editabletable.js') }}"></script>
<script type='text/javascript'>
  var production = {{ production|tojson }};
  var taskid = {{ taskid|tojson }};
  var active_file = {{active_file|tojson}};
  var url_publish_result = "{{ url_for('user._publish_result', taskid=taskid)}}";
  var url_unpublish_result = "{{ url_for('user._unpublish_result', taskid=taskid)}}";
  var url_get_task_result_files = "{{ url_for('user._get_task_result_files', taskid=taskid)}}";
  var url_score_task = "{{ url_for('user._score_task', taskid=taskid)}}";
  var url_full_rescore_task = "{{ url_for('user._full_rescore_task', taskid=taskid)}}";
  var url_change_result_status = "{{ url_for('user._change_result_status', taskid=taskid)}}";
  var url_publish_comp_result = "{{ url_for('user._publish_comp_result', compid=session.compid)}}";
  var url_unpublish_comp_result = "{{ url_for('user._unpublish_comp_result', compid=session.compid)}}";
  var url_adjust_task_result = "{{ url_for('user._adjust_task_result', taskid=taskid)}}";
  var url_sse_stream = "{{ url_for('sse.stream', channel=current_user.username)}}";
</script>
{% endif %}
{% endblock %}