{% extends "base_admin.html"%}

{% block page_title %}
Task Settings
{% endblock %}

{% block back %}
<a href="{{ url_for('user.comp_settings_admin', compid=compid)}}" class='btn btn-info'>
  Back to Competition Settings
</a>
<a href="#" class='btn btn-secondary ml-2' >
  Task Settings
</a>
{% if not session.external and session.is_editor %}
<a href="{{ url_for('user.track_admin', taskid=taskid)}}" class='btn btn-info ml-2'>
  Tracks
</a>
{% endif %}
{% if session.is_editor and (task_info.ready_to_score or task_info.locked) %}
<a href="{{ url_for('user.task_score_admin', taskid=taskid)}}" class='btn btn-info ml-2'>
  Task Scores
</a>
{% endif %}
{% endblock %}

{% block header %}
{{session.comp_name}} - Task {{task_info.task_num}}
{% endblock %}

{% block content %}
<div>
  <h5 class="info text-info" id='task_distance'></h5>
</div>

<form method='post' id="main_task_settings_form">
  {{taskform.hidden_tag()}}

  <!-- Save Settings button -->
  <div class='tab-save row-wrap'>
    {% if taskform.submit %}
    {{taskform.submit(class="btn btn-outline-secondary", id="main_task_save_button")}}
    <h6 class="ml-4 mt-2 pr-1 pl-1" id="save_button_warning_text"></h6>
    {% elif not session.is_editor %}
    <span class="font-weight-bold text-primary">You are not a scorekeeper of this comp</span>
    {% else %}
    <span class="font-weight-bold text-primary">Editing is disabled</span>
    {% endif%}
  </div>

  <!-- Settings Tab Section -->
  <div role="tabpanel" class="tab-panel">
    <!-- Nav tabs -->
    <ul role="tablist" id="tab-list" class="nav nav-tabs">
      <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link active" id="details-tab " href="#details" aria-controls="details">Task Details</a></li>
      <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#formula" aria-controls="formula">Formula</a></li>
      <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#checking" aria-controls="checking">Checking Params</a></li>
      <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#timing" aria-controls="timing">Timing</a></li>
    </ul>

    <div class="tab-content">
      <!-- Tab panes -->
      {% from "macros.html" import render_field with context %}
      {% set readonly = session.external or not session.is_editor or task_info.locked %}
      {% set locked = not session.is_editor or task_info.locked %}
      <div role="tabpanel" class="tab-pane column-wrap fade show active" id="details">
        <h4 class='tab-title font-weight-bold'>Task Details:</h4>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.task_num, size=2, readonly=readonly) }}
            {{ render_field(taskform.task_name, size=20, readonly=readonly) }}
            {% if session.is_editor and (not task_info.locked or task_info.cancelled) %}
            <button class="btn {% if not task_info.cancelled %} btn-outline-danger {% else %} btn-success {% endif %} ml-2 mt-4" type='button' data-toggle='modal' data-target='#cancel_task_modal'>
              {% if not task_info.cancelled %} Declare Cancelled {% else %} Turn Task Active {% endif %}</button>
            {% endif %}
        </section>
        {% if not readonly %}
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.region) }}
            <a class="btn btn-primary mt-4" href="{{ url_for('user.region_admin', compid=session.compid) }}">Add / Edit Comp regions</a>
        </section>
        {% endif %}
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.date, size=15, readonly=readonly) }}
            {{ render_field(taskform.time_offset, readonly=readonly) }}
        </section>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.task_type, readonly=readonly) }}
            {{ render_field(taskform.comment, size=40, disabled=locked) }}
            {{ render_field(taskform.training, readonly=readonly) }}
        </section>
      </div>
      <div role="tabpanel" class="tab-pane column-wrap fade" id="formula">
        <h4 class='tab-title font-weight-bold'>Formula Parameters:</h4>
        <section class="tab-row row-wrap form">
          <div class='alert alert-warning' role='alert'>
            <h4>These settings are inherited from the settings for this competition.<br>Change them here if you want to
            overide for this task only.</h4>
          </div>
        </section>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.formula_distance, readonly=readonly) }}
            {{ render_field(taskform.formula_departure, readonly=readonly) }}
            {{ render_field(taskform.formula_time, readonly=readonly) }}
            {{ render_field(taskform.formula_arrival, readonly=readonly) }}
        </section>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.tolerance, size=3, readonly=readonly) }}
            {{ render_field(taskform.no_goal_penalty, size=4, readonly=readonly) }}
        </section>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.max_JTG, size=4, readonly=readonly) }}
            {{ render_field(taskform.arr_alt_bonus, size=4, readonly=readonly) }}
        </section>
      </div>
      <div role="tabpanel" class="tab-pane column-wrap fade" id="checking">
        <h4 class='tab-title font-weight-bold'>Tracks Checking Parameters:</h4>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.check_launch, readonly=readonly) }}
            {{ render_field(taskform.QNH, size=7, readonly=readonly) }}
            {{ render_field(taskform.airspace_check, readonly=readonly) }}
            {% if taskform.airspace_check.data %}
            <a href="{{ url_for('user.airspace_check_admin', compid=compid) }}" class='btn btn-info ml-2'>
              Parameters
            </a>
            {% endif %}
        </section>
      </div>
      <div role="tabpanel" class="tab-pane column-wrap fade" id="timing">
        <h4 class='tab-title font-weight-bold'>Task Timing:</h4>
        <section class="tab-row row-wrap form">
          <div class='alert alert-warning' role='alert'>
            <h4>Timings are in Local Time</h4>
          </div>
        </section>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.window_open_time, size=3, readonly=readonly) }}
            {{ render_field(taskform.window_close_time, size=3, readonly=readonly) }}
            {{ render_field(taskform.task_deadline, size=3, readonly=readonly) }}
        </section>
        <section class="tab-row row-wrap form">
            {{ render_field(taskform.start_time, size=3, readonly=readonly) }}
            {{ render_field(taskform.start_close_time, size=3, readonly=readonly) }}
          <button class='btn btn-primary ml-4 collapsed' type='button' data-toggle='collapse' data-target='#multi_start'
                    aria-expanded='false' aria-controls='multi_start'>
              Multi Start Settings
          </button>
        </section>
        <section class="tab-row row-wrap collapse" id='multi_start'>
            <section class="panel-row row-wrap form">
            {{ render_field(taskform.SS_interval, size=3, readonly=readonly) }}
            {{ render_field(taskform.start_iteration, size=2, readonly=readonly) }}
            </section>
        </section>
        <section class="tab-row row-wrap button">
          <button class='btn btn-danger ml-4 collapsed' type='button' data-toggle='collapse' data-target='#stopped'
                    aria-expanded='false' aria-controls='stopped'>
              Stopped task
          </button>
        </section>
        <section class="tab-row row-wrap form collapse" id='stopped'>
            <section class="panel-row row-wrap">
            {{ render_field(taskform.stopped_time, size=3, readonly=readonly) }}
            </section>
        </section>
      </div>
    </div>

  </div>
</form>

<!-- Task Waypoints Section -->
<div class="column-wrap">
  <div class="panel-switch">
    <button class='btn btn-primary ml-4' type='button' data-toggle='collapse' data-target='#task_waypoints'
            aria-expanded='true' aria-controls='task_waypoints'>
      Task Waypoints
    </button>
  </div>
  <div class='panel collapse show' id='task_waypoints'>
    <h4 class='tab-title font-weight-bold'>Task Waypoints:</h4>
    {% if taskform.submit and not readonly %}
    <section class="panel-row row-wrap button">
      <button id='delete_all_btn' class='btn btn-danger mr-4 ' onclick='confirm_delete_all();' type='button'>
        Clear Task
      </button>
      <button id='import_task_btn' class='btn btn-primary mr-4 ' type='button' data-toggle='collapse' data-target='#import_task'
              aria-expanded='false' aria-controls='import_task'>
        Import
      </button>
    </section>
    <div class='tab-row column-wrap collapse' id='import_task'>
      <section class="row-wrap">
        <span class="col col-lg-3 font-weight-bold text-primary mr-3 mt-1 mb-1">Import XCTrack Task File: </span>
        <button class='col col-lg-2 btn btn-primary mr-4 ' id='XCTrack_button'>Browse...</button>
        <input id='XCTrack_fileupload' type='file' size='chars' class='custom-file-input'
               oninput='filesize(this);' data-url='/users/_upload_XCTrack/{{ taskid }}' name='track_file'>
      </section>
      <section class="row-wrap" id="copy_wpts_section">
        <span class="col col-lg-2 font-weight-bold text-primary mr-3 mt-1 mb-1">Get Route from: </span>
        <select class="col col-lg-2 form-control form-control-sm mr-4 mt-1 mb-1" id="copy_task_select"><option value="5">Task 1 - 53.65 km</option></select>
        <button class="col col-lg-1 btn btn-primary mr-4 mt-1 mb-1" id="copy_wpts_button" onclick="copy_turnpoints()">Copy</button>
      </section>
    </div>
    {% endif%}
    <section class="panel-row row-wrap form col-lg-12">
      <div class='panel col-lg-5' id='wpt_list'>
        {% if taskform.submit and not readonly %}
        {% if taskform.region.data %}
        <form method='post' id="turnpoint_form">
          <section class="tab-row row-wrap form p-2">
            {{ render_field(turnpointform.task_id) }}
            {{ render_field(turnpointform.rwp_id, size=8) }}
          </section>
          <section class="tab-row row-wrap form p-2" id="new_waypoint_form">
            {{ render_field(turnpointform.num, size=2) }}
            {{ render_field(turnpointform.type) }}
            <div id="how-div">
            {{ render_field(turnpointform.how) }}
            </div>
            <div id="shape-div">
            {{ render_field(turnpointform.shape) }}
            </div>
            <div id="radius-div">
            {{ render_field(turnpointform.radius, size=5) }}
            </div>
          </section>
          <section class="panel-row row-wrap button">
            {{ turnpointform.submit(class="btn btn-success", id="turnpoint_save_button") }}
            <p id='add_tp_spinner'></p>
          </section>
        </form>
        {% else %}
        <section class="panel-row row-wrap form">
          <p class="p-2 description">Select an existing Region or create a new one for the task to display a waypoint list.</p>
        </section>
        {% endif %}
        {% endif %}
      </div>
      <div class='panel col-lg-6' id="task_wpt">
        <table class='table' id='task_wpt_table'>
          <thead class="thead-light">
          </thead>
        </table>
      </div>
    </section>
    <!--- map --->
    <section class="panel-row row-wrap form">
      <div class='task-map embed-responsive' id="map_container" hidden>
      </div>
    </section>
  </div>
</div>

{% if session.is_editor %}
<!--- cancel_task_modal starts here--->
<div id='cancel_task_modal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title {% if task_info.cancelled %}text-info{% else %}text-danger{% endif %}'>Confirm Task is {% if task_info.cancelled %}ACTIVE{% else %}CANCELLED{% endif %}:</h4>
      </div>
      <div class='modal-body' id='cancel_task_modal-body'>
        {% if task_info.cancelled %}
        <p class="alert alert-info">This will also update active Event Results to reflect the changing.</p>
        {% else %}
        <p class="alert alert-warning">This will hide any track or result scored for this task, and ignore it in Event Results.</p>
        {% from "macros.html" import render_input with context %}
        {{ render_input(id='cancel_task_reason', label='Cancellation reason', size=30, placeholder='Rain on course, Strong Wind Gusts, Thunderstorm, ...') }}
        <small id='cancel_task_reason_help' class='text-muted'>Goes in Task Comment, cannot be modified unless task is unlocked again .</small>
        {% endif %}
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
        <button id='cancel_task_confirmed' type='button' {% if task_info.cancelled %}class='btn btn-info'>Declare Task ACTIVE{%else %}class='btn btn-danger'>Declare Task Cancelled{% endif %}</button>
        <p id='cancel_task_modal_spinner'></p>
      </div>
    </div>
  </div>
</div>
<!--- cancel_task_modal ends here --->
{% endif %}

{% if taskform.submit and not readonly %}
<!--- delete-modal starts here--->
<div id='delmodal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Please confirm</h4>
      </div>
      <div class='modal-body' id='delmodal-body'>
        <p>Here the description starts here........</p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-success' data-dismiss='modal'>Cancel</button>
        <button id='delete_confirmed' type='button' class='btn btn-danger'>Delete</button>
        <p id='delete_spinner'></p>
      </div>
    </div>
  </div>
</div>
<!--- delete-Modal ends here --->

<!--- modify-modal starts here --->
<div id='modmodal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <form method='post' id="mod_turnpoint_form">
        <div class='modal-header'>
          <h4 class='modal-title'></h4>
        </div>
        <div class='modal-body' id='modmodal-body'>
          <section class="tab-row row-wrap form p-2">
            {{ render_field(modifyturnpointform.task_id, id='mod-task_id') }}
            {{ render_field(modifyturnpointform.wpt_id, id='mod-wpt_id') }}
            {{ render_field(modifyturnpointform.num, id='mod-num', size=2) }}
            {{ render_field(modifyturnpointform.rwp_id, id='mod-rwp_id') }}
          </section>
          <section class="tab-row row-wrap form p-2">
            {{ render_field(modifyturnpointform.type, id='mod-type') }}
            <div id="mod-how-div">
              {{ render_field(modifyturnpointform.how, id='mod-how') }}
            </div>
            <div id="mod-shape-div">
              {{ render_field(modifyturnpointform.shape, id='mod-shape') }}
            </div>
            <div id="mod-radius-div">
              {{ render_field(modifyturnpointform.radius, id='mod-radius', size=10) }}
            </div>
          </section>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
          {{modifyturnpointform.submit(class="btn btn-success", id="mod_turnpoint_save_button")}}
        </div>
      </form>
    </div>
  </div>
</div>
<!--- modify-Modal ends here --->
{% endif%}

{% endblock %}
{% block js %}
<script src="{{ static_url_for('static', filename='js/display-if.min.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.ui.widget.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.iframe-transport.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.fileupload.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/task_admin.js') }}"></script>
<script type=text/javascript>
  var compid = {{ compid|tojson }};
  var external = {{ session.external|tojson }};
  var taskid = {{ taskid|tojson }};
  var task_info = {{ task_info|tojson }};
  var tasks = {{ session.tasks|tojson }};
  var task_admin = {{ taskform.submit|tojson }};
  var url_get_task_turnpoints = "{{ url_for('user._get_task_turnpoints', taskid=taskid)}}";
  var url_save_turnpoint = "{{ url_for('user._save_turnpoint', taskid=taskid)}}";
</script>

{% endblock %}