{% extends "layout.html" %}
{% block content %}
<style>
  .bar {
    height: 20px;
    background: green;
}
</style>

<style>
input {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}
</style>
<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload a tracklog</h1>
      <hr>
                      <button class="btn btn-primary mt-3">Choose File</button>
<!--          <div id="upload_box" class="custom-file">-->
      <input id="fileupload" type="file" size="chars" class="custom-file-input"  oninput="filesize(this);" data-url="/users/_upload_track/187/779" name="tracklog" >
<!--          </div>-->

      <div id="progress">
    <div class="bar" style="width: 0%;">
      <p id="progress_text"></p>
   </div>
</div>

    </div>
  </div>
</div>

{% endblock %}
{% block js %}
{% include "js.html" %}
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.ui.widget.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.iframe-transport.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.fileupload.js') }}"></script>

<script type="text/javascript">

$('button').click(function(){
    $('input').click();
});

$(function () {

    $('#fileupload').fileupload({
        dataType: 'json',
<!--        add: function(e, data) {-->
<!--        data.context = $('<p class="file">')-->
<!--          $('progress_text').text(data.files[0].name);-->

<!--      },-->
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);


            });
        },
        submit: function (e, data){
        $('#upload_box').hide();
         $('#progress_text').text(data.files[0].name);
        },
         progress: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
    }
    });
});


</script>

<script>

  function filesize(elem){
    document.cookie = `filesize=${elem.files[0].size}`
  }

</script>
{% endblock %}