{% extends "admin.html"%}

{% block page_title %}
  Track Management
{% endblock %}

{% block head %}
    <style>
      .bar {
        height: 20px;
        background: green;
    }
    </style>
{% endblock %}

{% block content %}
<div class='container'>
  <h2>Task {{task_num}} {% if task_name %}
    - {{task_name}} {% endif %}
  </h2>
  <br>
  <h4>{{session.comp_name}}</h4>
  <br>
  <h5 id='title_dist'></h5>
</div>

{% if not user_is_scorekeeper %}
<h2>You are not authorised to access this page as you are not a scorekeeper of this competition</h2>

{% else %}
<!-- CSS -->
<link href='/static/css/task.css' rel='stylesheet'>
<link href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' rel='stylesheet'>
<script src="{{ static_url_for('static', filename='js/utils.js') }}"></script>

<div class='form-group col-md-12' id='bulk'>
  <button id='bulk_button' class='btn btn-primary ml-4' onclick='open_bulk_modal();'>
    Bulk Import Tracks
  </button>

  {% if track_source %}
  <button id='{{ track_source }}_button' class='btn btn-primary ml-4' onclick='get_{{ track_source }}_tracks()'>
    {{ track_source|title }}
  </button>
  {% endif %}

  <button id='telegram_button' class='btn btn-primary ml-4' onclick='send_telegram({{ taskid }});'>
    Update Telegram
  </button>

  <a href="{{ url_for('user.task_score_admin', taskid=taskid)}}" class='btn btn-info ml-4' type='button'>
    Manage Scores
  </a>
  <button type='button' id='log_button' class='hideatstart btn btn-success ml-4' data-toggle='modal'
          data-target='#ProcessModal'>
    Processing log
  </button>
</div>

<div class='text-center'>
  <h3 id='TracksProcessed'></h3>
</div>

<div class='container' id='main'>
  <br>
  <table id='tracks' class='row-border stripe compact mb-1' cellspacing='0' width='100%'>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <!--            <th>Status</th>-->
      <th>Result</th>
      <th></th>
    </tr>
    </thead>
  </table>
</div>

<!---bulk-modal starts here--->
<div id='bulkmodal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
        <h4 class='modal-title'></h4>
      </div>
      <div class='modal-body' id='bulkmodal-body'>
        <p id='zip_modal_message'>Please provide a ZIP file containing .igc files. The files should be named as such:
          FAI.igc or LASTNAME_FIRSTNAME.igc</p>
        <div id='zip_progress'>
          <div class='bar' style='width: 0%;'><p id='zip_progress_text'></p></div>
        </div>
        <p id='zip_spinner'></p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
        <button id='get_bulk_file_button' class='btn btn-primary ml-4 ' onclick='choose_zip_file()'>
          Browse
        </button>
        <input id='bulk_fileupload' type='file' size='chars' class='custom-file-input' oninput='filesize(this);'
               data-url='/users/_upload_track_zip/{{ taskid }}' name='zip_file'>

      </div>
    </div>
  </div>
</div>
<!-bulk-Modal ends here--->

<!-- process log Modal starts here -->
<div class='modal fade' id='ProcessModal' tabindex='-1' role='dialog' aria-labelledby='ProcessModalTitle'
     aria-hidden='true'>
  <div class='modal-dialog modal-dialog-scrollable' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='ProcessModalTitle'>Tracklog Processing</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' id='process_text'>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hide</button>
      </div>
    </div>
  </div>
</div>
<!-- process log Modal ends here -->

{% endif %}
{% endblock %}

{% if user_is_scorekeeper %}
{% block js %}
<script src="{{ static_url_for('static', filename='js/jquery.initialize.js') }}"></script>
<script type='text/javascript' src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>
<script src="{{ static_url_for('static', filename='js/pop_track_admin.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.ui.widget.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.iframe-transport.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.fileupload.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-alert.js') }}"></script>
<script type='text/javascript'>populate_track_admin({{taskid|tojson}})</script>
<script>

$(document).ready(function(){
  update_track_pilot_stats();
});

function set_result(par_id, status){
  var mydata = new Object();
  mydata.par_id = par_id;
  mydata.Result = status;

  $.ajax({
    type: "POST",
    url: "{{ url_for('user._set_result', taskid=taskid)}}",
    contentType:"application/json",
    data : JSON.stringify(mydata),
    dataType: "json",
    success: function (response, par_id) {
      update_row(response);
      update_track_pilot_stats();
    }
  });
}

function update_track_pilot_stats(){
  $.ajax({
    type: "GET",
    url: "{{ url_for('user._get_tracks_processed', taskid=taskid)}}",
    contentType:"application/json",
    dataType: "json",
    success: function (response) {
      $('#TracksProcessed').text('Tracks Collected: ' + response.tracks + '/' + response.pilots)
    }
  });
}

function get_xcontest_tracks(){
  document.getElementById("xcontest_button").innerHTML = "Getting Tracks...";
  document.getElementById("xcontest_button").className = "btn btn-warning ml-4";
  $.ajax({
    type: "POST",
    url: "{{ url_for('user._get_xcontest_tracks', taskid=taskid) }}",
    contentType:"application/json",
    dataType: "json",
    success: function () {
      {% if not production %}
        populate_track_admin({{taskid|tojson}});
        update_track_pilot_stats();
      {% endif %}
      document.getElementById("xcontest_button").innerHTML = "Xcontest";
      document.getElementById("xcontest_button").className = "btn btn-primary ml-4";
    }
  });
}

function choose_zip_file(){
  var filename;
  $('#bulk_fileupload').fileupload({
    dataType: 'json',
    done: function (e, data) {
      $.each(data.result.files, function (index, file) {
        $('<p/>').text(file.name).appendTo(document.body);
        filename = file.name;
      });
    },
    submit: function (e, data){
      $('#zip_modal_message').hide();
      $('#zip_progress').show();
      $('#zip_spinner').show();
      $('#zip_progress_text').text(data.files[0].name + ' - processing');
      $('#zip_spinner').html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
    },
    success: function () {
      $('#bulkmodal').modal('hide');
      $('#zip_modal_message').show();
      $('#zip_progress').hide();
      $('#zip_spinner').hide();
      $('#zip_progress_text').text('');
      $('#zip_spinner').html('');
      {% if not production %}
        populate_track_admin({{taskid|tojson}});
        update_track_pilot_stats();
      {% endif %}
    },
    progress: function (e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
      $('#zip_progress .bar').css(
        'width',
        progress + '%'
      );
    }
  });
  $('#bulk_fileupload').click();
};

{% if production %}

var es = null;

function initES() {
  if (es == null || es.readyState == 2) { // this is probably not necessary.
    es = new EventSource('{{ url_for('sse.stream', channel=current_user.username)}}');
    es.onerror = function(e) {
      if (es.readyState == 2) {
        setTimeout(initES, 5000);
      }
    };
    es.addEventListener('% complete', function(event) {
      var data = JSON.parse(event.data);
      $('#progress_percentage'+ data.id).text(data.message + ' % complete');
    }, false);
    es.addEventListener('counter', function(event) {
      var data = JSON.parse(event.data);
      $('#ProcessModalTitle').text('Tracklog Processing. ' + data.message);
    }, false);
    es.addEventListener('info', function(event) {
      var data = JSON.parse(event.data);
      $('#process_text').append(data.message + "<br/>");
    }, false);
    es.addEventListener('open_modal', function(event) {
      $('#log_button').show();
      $('#ProcessModal').modal('show');
    }, false);
    es.addEventListener('result', function(event) {
      var data = JSON.parse(event.data);
      if(data.message == 'error'){
        $('#ABS'+ data.id).show();
        $('#MD'+ data.id).show();
        $('#DNF'+ data.id).show();
        $('#TrackUp'+ data.id).show();
        $('#upload_box'+ data.id).show();
        $('#filediv'+ data.id).hide();
        $.alert(response.error,{
          type: 'danger',
          position: ['center', [-0.42, 0]],
          autoClose: false
        });
        update_track_pilot_stats();
      }
      else {
        update_row($.parseJSON(data.message));
      }
    }, false);
    es.addEventListener('valid_fail', function(event) {
      var data = JSON.parse(event.data);
      data.message = JSON.parse(data.message);
      $('#ABS'+ data.id).show();
      $('#MD'+ data.id).show();
      $('#DNF'+ data.id).show();
      $('#TrackUp'+ data.id).show();
      $('#upload_box'+ data.id).show();
      $('#filediv'+ data.id).hide();
      $('#progress_percentage'+ data.id).hide();
      data.message.Result = '<button id="TrackUp_noV' + data.id  +'" class="btnupload btn btn-warning mt-3" onclick="choose_file(' + data.id +', false, true);">Upload IGC ignoring quality check & G record</button>'
      update_row(data.message);
    }, false);
    es.addEventListener('g_record_fail', function(event) {
      var data = JSON.parse(event.data);
      data.message = JSON.parse(data.message);
      $('#ABS'+ data.id).show();
      $('#MD'+ data.id).show();
      $('#DNF'+ data.id).show();
      $('#TrackUp'+ data.id).show();
      $('#upload_box'+ data.id).show();
      $('#filediv'+ data.id).hide();
      $('#progress_percentage'+ data.id).hide();
      data.message.Result = '<button id="TrackUp_noG' + data.id  +'" class="btnupload btn btn-warning mt-3" onclick="choose_file(' + data.id +', true);">Upload IGC ignoring G record</button>'
      update_row(data.message);
    }, false);
    es.addEventListener('reload', function(event) {
      populate_track_admin({{taskid|tojson}});
      update_track_pilot_stats();
    }, false);
<!--        es.addEventListener('error', function(event) {-->
<!--            alert("Failed to connect to event stream. Is Redis running?");-->
<!--        }, false);-->
  }
}

function choose_file(par_id, g_overide=false, v_overide=false){
  var filename;
  var suffix = '';
  if(g_overide){
      suffix = '_NO_G'
        }
        if(v_overide){
            suffix = '_NO_V'
  }
  $('#fileupload' + suffix + par_id).fileupload({
    dataType: 'json',
    done: function (e, data) {
      $.each(data.result.files, function (index, file) {
        $('<p/>').text(file.name).appendTo(document.body);
        filename = file.name;
      });
    },
    submit: function (e, data){
      $('#ABS'+ par_id).hide();
      $('#MD'+ par_id).hide();
      $('#DNF'+ par_id).hide();
      $('#TrackUp'+ par_id).hide();
      $('#upload_box'+ par_id).hide();
      $('#progress_percentage'+ par_id).show();
      $('#progress_percentage'+ par_id).text('uploading..');
      $('#filediv'+ par_id).show();
    },
  });
  $('#fileupload' + suffix + par_id).click();
};

initES();

{% else %}

function choose_file(par_id){
  var filename;
  $('#fileupload' + par_id).fileupload({
    dataType: 'json',
    done: function (e, data) {
      $.each(data.result.files, function (index, file) {
        $('<p/>').text(file.name).appendTo(document.body);
        filename = file.name;
      });
    },
    submit: function (e, data){
      $('#ABS'+ par_id).hide();
      $('#MD'+ par_id).hide();
      $('#DNF'+ par_id).hide();
      $('#TrackUp'+ par_id).hide();
      $('#upload_box'+ par_id).hide();
      $('#filediv'+ par_id).show();
      $('#progress_text'+ par_id).text(data.files[0].name + ' - processing');
      $('#spinner' + par_id).html('<div class="spinner-border" role="status"><span class="sr-only"></span></div>');
    },
    success: function (response) {
      if(response.error){
        $('#ABS'+ par_id).show();
        $('#MD'+ par_id).show();
        $('#DNF'+ par_id).show();
        $('#TrackUp'+ par_id).show();
        $('#upload_box'+ par_id).show();
        $('#filediv'+ par_id).hide();
        $.alert(response.error,{
          type: 'danger',
          position: ['center', [-0.42, 0]],
          autoClose: false
        });
    }
    update_row(response);
    },
    progress: function (e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
      $('#progress'+ par_id+' .bar').css(
        'width',
        progress + '%'
      );
    }
  });
  $('#fileupload' + par_id).click();
};
{% endif %}

</script>

{% endblock %}
{% endif%}

