{% extends "base_admin.html"%}

{% block page_title %}
  Track Management
{% endblock %}

{% block head %}
<link href="{{ static_url_for('static', filename='css/task.css') }}" rel="stylesheet">
<link href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' rel='stylesheet'>
{% endblock %}

{% block back %}
<a href="{{ url_for('user.comp_settings_admin', compid=compid)}}" class='btn btn-info' type='button'>
  Back to Competition Settings
</a>
<a href="{{ url_for('user.task_admin', taskid=taskid)}}" class='btn btn-info ml-2' type='button'>
  Task Settings
</a>
<a href="{{ url_for('user.task_score_admin', taskid=taskid)}}" class='btn btn-info ml-2' type='button'>
  Task Scores
</a>
{% endblock %}

{% block header %}
{{session.comp_name}} - Task {{task_num}}
{% endblock %}

{% block content %}

{% if not user_is_scorekeeper %}
<h2>You are not authorised to access this page as you are not a scorekeeper of this competition</h2>

{% else %}
<div class='form-group col-md-12' id='bulk'>
  <button id='bulk_button' class='btn btn-primary' onclick='open_bulk_modal();'>
    Bulk Import Tracks
  </button>

  {% if track_source %}
  <button id='{{ track_source }}_button' class='btn btn-primary ml-2' onclick='get_{{ track_source }}_tracks()'>
    {{ track_source|title }}
  </button>
  {% endif %}

  {% if telegram %}
  <button id='telegram_button' class='btn btn-primary ml-2' onclick='send_telegram({{ taskid }});'>
    Send Telegram Update
  </button>
  {% endif %}

  <button type='button' id='log_button' class='hideatstart btn btn-success ml-2' data-toggle='modal'
          data-target='#ProcessModal'>
    Processing log
  </button>
</div>

<div class='text-center'>
  <h3 id='TracksProcessed'></h3>
</div>

<div class='container' id='main'>
  <br>
  <table id='tracks' class='row-border stripe compact mb-1' cellspacing='0' width='100%'>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <!--            <th>Status</th>-->
      <th>Result</th>
      <th></th>
    </tr>
    </thead>
  </table>
</div>

<!---bulk-modal starts here--->
<div id='bulkmodal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
        <h4 class='modal-title'></h4>
      </div>
      <div class='modal-body' id='bulkmodal-body'>
        <p id='zip_modal_message'>Please provide a ZIP file containing .igc files. The files should be named as such:
          FAI.igc or LASTNAME_FIRSTNAME.igc</p>
        <div id='zip_progress'>
          <div class='bar' style='width: 0%;'><p id='zip_progress_text'></p></div>
        </div>
        <p id='zip_spinner'></p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
        <button id='get_bulk_file_button' class='btn btn-primary ml-4' onclick='choose_zip_file()'>
          Browse
        </button>
        <input id='bulk_fileupload' type='file' size='chars' class='custom-file-input' oninput='filesize(this);'
               data-url='/users/_upload_track_zip/{{ taskid }}' name='zip_file'>

      </div>
    </div>
  </div>
</div>
<!-bulk-Modal ends here--->

<!-- process log Modal starts here -->
<div class='modal fade' id='ProcessModal' tabindex='-1' role='dialog' aria-labelledby='ProcessModalTitle'
     aria-hidden='true'>
  <div class='modal-dialog modal-dialog-scrollable' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='ProcessModalTitle'>Tracklog Processing</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' id='process_text'>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hide</button>
      </div>
    </div>
  </div>
</div>
<!-- process log Modal ends here -->

{% endif %}
{% endblock %}

{% if user_is_scorekeeper %}
{% block js %}
<script type='text/javascript' src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>
<script src="{{ static_url_for('static', filename='js/jquery.initialize.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/pop_track_admin.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.ui.widget.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.iframe-transport.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-file-upload/jquery.fileupload.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/jquery-alert.js') }}"></script>
<script>
  var production = {{ production|tojson }};
  var taskid = {{ taskid|tojson }};
  var url_set_result = "{{ url_for('user._set_result', taskid=taskid)}}";
  var url_get_tracks_processed = "{{ url_for('user._get_tracks_processed', taskid=taskid)}}";
  var url_get_xcontest_tracks = "{{ url_for('user._get_xcontest_tracks', taskid=taskid)}}";
  var url_sse_stream = "{{ url_for('sse.stream', channel=current_user.username)}}";
</script>
{% endblock %}
{% endif%}

