{% extends "base_admin.html"%}

{% block page_title %}
  User Admin
{% endblock %}

{% block head %}
    <!-- CSS -->
    <link href="/static/css/task.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block header %} User Details {% endblock %}

{% block content %}
<div class="panel-content column-wrap">
  <div class='panel thin' id='users_panel'>
    <section class="panel-row form">
      <table id="users" class="row-border compact" cellspacing="0" width="100%">
        <thead>
          <tr>
          </tr>
        </thead>
      </table>
    </section>
  </div>
</div>

<!--- edit-participant details modal starts here--->
<div id="edit_user_modal" class="modal fade" role='dialog'>
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Update User Details</h4>
         </div>
         <div class="modal-body" id= "modmodal-body">
            {% from "macros.html" import render_field with context %}
            <div class="form-row">
               <div class="form-group col-md-12">
                  {{modify_user_form.email.label}} {{modify_user_form.email(size=35, **{'id':"mod_email"})}}
               </div>
            </div>
            <div class="form-row">
               <div class="form-group col-md-12">
                  {{modify_user_form.active.label}} {{modify_user_form.active(**{'id':"mod_active"})}}
               </div>
            </div>
             <div class="form-row">
               <div class="form-group col-md-12">
                  {{modify_user_form.access.label}} {{modify_user_form.access(**{'id':"mod_access"})}}
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button id = "modify_confirmed" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
         </div>
      </div>
   </div>
</div>
<!--- edit-participant details-Modal ends here--->
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="{{ static_url_for('static', filename='js/multiselect.min.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/pop_users.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/microajax.minified.js') }}"></script>

<script type="text/javascript">
  var editable = {{ editable|tojson }};
</script>

{% endblock %}