{% extends "base_admin.html"%}

{% block page_title %}
  User Admin
{% endblock %}

{% block css %}
<link href="/static/css/task.css" rel="stylesheet">
{% endblock %}

{% block header %} User Details {% endblock %}

{% block content %}
<div class='row mb-3'>
  <button type="button" class="btn btn-primary ml-3" onclick="edit_user()">Add</button>
</div>

<div class='row'>
  <div class='panel thin' id='users_panel'>
    <section class="panel-row form">
      <table id="users" class="table row-border table-hover table-responsive" cellspacing="0" width="100%">
        <thead class="thead-light">
          <tr>
          </tr>
        </thead>
      </table>
    </section>
  </div>
</div>

{% from "macros.html" import render_field with context %}
{% from "macros.html" import render_checkbox with context %}

<!--- edit-user details modal starts here--->
<div id="user_modal" class="modal fade" role='dialog'>
  <div class="modal-dialog">
    <div class="modal-content">
      <form method='post' id="user_form">
      {{ user_form.hidden_tag() }}
      <div class="modal-header">
        <h4 class="modal-title">Update User Details</h4>
      </div>
      <div class="modal-body" id= "user_modal-body">
        <div class="form-row">
          <section class="pl-1 column-wrap panel-row" id="username_section">
            <input type="hidden" id="user_id" name="user_id" value="">
            {{ render_field(user_form.username, size=40, disabled=True) }}
          </section>
          <section class="pl-1 column-wrap panel-row">
            {{ render_field(user_form.access) }}
          </section>
          <section class="pl-1 row-wrap panel-row">
            {{ render_field(user_form.first_name, size=40) }}
            {{ render_field(user_form.last_name, size=40) }}
          </section>
          <section class="pl-1 column-wrap panel-row">
            {{ render_field(user_form.email, size=40) }}
          </section>
          <section class="pl-1 row-wrap panel-row">
            {{ render_field(user_form.nat) }}
          </section>
          <section class="pl-1 row-wrap panel-row" id="active_section">
            {{ render_field(user_form.active) }}
          </section>
          <section class="pl-1 column-wrap panel-row" id="email_copy_section">
            {{ render_checkbox(id='email_copy', label='Send me a copy of registration email', checked=true) }}
          </section>
        </div>
      </div>
      <div class='modal-errors'>
      </div>
      <div class='modal-footer'>
      <button type='button' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
      {{user_form.submit(class="btn btn-success", id="confirmed")}}
      </div>
      </form>
    </div>
  </div>
</div>
<!--- edit-user details-Modal ends here--->
{% endblock %}

{% block js %}
<script src="{{ static_url_for('static', filename='js/multiselect.min.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/pop_users.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ static_url_for('static', filename='js/microajax.minified.js') }}"></script>
<script type="text/javascript">
  var editable = {{ editable|tojson }};
  var is_admin = {{ current_user.is_admin|tojson }};
</script>
{% endblock %}