defines.php
.ht*
.travis*
.DS*
_pycache_/*
_pycache_
*.pyc
*.igc
map.html
*.pyc
.idea/*
tracks/*
json/*
log/*.txt
log/*.log
map-objects/*
admin/.DS*
admin/dreamhost*.*
admin/host.it*
core/*.yaml
core/defines.yaml*
core/Defines.pm
core/test*
core/py*
core/.ht*
core/*.igc
core/*.kml
core/*.zip
core/*.xctsk
core/.DS*
core/log/*.txt
core/log/*.log
core/log/*.txt
core/log/*.log
